<div layout="row" ng-if="user.isRootUser()">
  <md-checkbox class="md-secondary" ng-model="submitRequire.done" ng-click="doToggle()"
               aria-label="완료 여부">
    제출 완료
  </md-checkbox>
</div>
<div ng-repeat="submit in submits | orderBy:'writeDate'" layout="row">
  <div submit="submit" submits="submits" attach="attach"></div>
</div>
<div class="submit-write" layout="row">
  <div class="photo margin-top" hide-sm flex>
    <img ng-src="{{rootUser.profileUrl || '/resource/profile.png'}}">
  </div>
  <div class="info" flex>
    <div class="body">
      <div class="box-area">
        <md-input-container>
          <textarea ng-model="submit.body" aria-label="submit"></textarea>
        </md-input-container>
        <div class="write_append">
          <div class="wrap_btn">
            <md-button aria-label="done button" class="md-raised" ng-click="writeSubmit(submit)">
              <span ng-if="user.isRootUser()">제출</span>
              <span ng-if="!user.isRootUser()">도움말쓰기</span>
            </md-button>
          </div>
        </div>
      </div>
      <attachments-upload ng-if="attach && user.isRootUser()" attachments="submit.attachments"></attachments-upload>
    </div>
  </div>
</div>

