<div layout-sm="column" layout="row">
  <div flex></div>
  <div class="margin-vertical" layout="row" layout-align="end center">
    <span class="margin-right" ng-show="lecture.hostUser.isRootUser() || lecture.isEnrolled()"
          ui-sref="contentNew({lectureId:lecture.id, contentGroupName:contentGroupName})">
     <i class="fa fa-pencil"></i>
    </span>
    <div>
      <md-input-container ng-show="search" class="search-input">
        <label>검색어</label>
        <input ng-model="query.keyword">
      </md-input-container>
    </div>
    <div ng-click="search=!search"><i class="fa" ng-class="{'fa-search':!search, 'fa-times':search}"></i></div>
  </div>
</div>
<div pagenation ng-show="pages.length>1">
  <span ng-class="{active:page==$index}" ng-repeat="p in pages" ng-click="setPage($index)">{{$index + 1}}</span>
</div>
<content-header wrapped content="content" index="$index"
                ng-repeat="content in filtered = (contents | orderBy:'-writeDate')"></content-header>
<div wrapped ng-if="filtered.length==0">결과가 없습니다.</div>
