<div layout="row" layout-sm="column" class="md-padding margin-bottom">
  <div class="info" flex>
    <span ng-click="select.name = 0" ng-class="{select:!select.name}" class="unselect">전체</span>
      <span ng-repeat="contentGroup in contentGroups">
        <span class="bar"></span>
        <span ng-click="select.name = contentGroup.name" class="unselect"
              ng-class="{select:!select.name || contentGroup.name === select.name}">{{contentGroup.name}}</span>
      </span>
  </div>
  <div flex layout="row" layout-align="end center" hide-sm>
    <div class="search-bar" ng-class="{active:searching}">
      <input ng-show="searching" class="fade-in-out" id="search" ng-model="keyword" placeholder="검색어">
      <md-icon md-svg-icon="{{getIcon()}}" ng-click="toggleSearching()"></md-icon>
    </div>
  </div>
</div>

<content-header wrapped content="content" tag-click="tagClick" index="$index"
                ng-repeat="content in filtered = (contents | contentGroup:select.name | filter:keyword | orderBy:'-writeDate')"></content-header>
<div wrapped ng-if="filtered.length==0" class="row list-group-item-">결과가 없습니다.</div>
