<table class="table">
  <thead>
  <tr>
    <td sort="year">{{headers.year}}</td>
    <td sort="semester">{{headers.semester}}</td>
    <td sort="name">{{headers.name}}</td>
    <td sort="classNo">{{headers.classNo}}</td>
    <td sort="type">{{headers.type}}</td>
    <td sort="credit">{{headers.credit}}</td>
    <td sort="prof">{{headers.prof}}</td>
    <td sort="time">{{headers.time}}</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="lecture in lectures | orderBy:order:reverse | filter:search">
    <td>{{lecture.year}}</td>
    <td>{{lecture.semester}}</td>
    <td ui-sref="lecture({id:lecture.id})">{{lecture.name}}</td>
    <td>{{lecture.classNo}}</td>
    <td>{{lecture.type}}</td>
    <td>{{lecture.credit}}</td>
    <td ui-sref="profile({id:lecture.prof})">{{lecture.prof}}</td>
    <td>{{lecture.time}}</td>
  </tr>
  <tr>
    <td colspan="9">git pul
      <div class="input-group">
        <div class="input-group-btn">
          <drop-down names="headers" ng-model="key" options="columns"></drop-down>
        </div>
        <input type="text" class="form-control" placeholder="검색어" ng-model="search[key]">
      </div>
    </td>
  </tr>
  </tbody>
</table>
