<div class="input-group margin-bottom-s">
  <span class="input-group-addon">{{index+1}}회</span>
  <input class="form-control margin-bottom-s" ng-model="lesson.name" placeholder="주제">
  <i ng-click="lessons.remove(lesson)" class="fa fa-times input-group-addon"></i>
</div>
<strong>시간</strong>

<div class="wrapper margin-bottom-s">
  <input readonly="true" type="datetime" placeholder="시작" date-time format="yyyy. MM. dd. HH:mm" view="date"
         ng-model="lesson.start" class="form-control date">
</div>
~
<div class="wrapper">
  <input readonly="true" type="datetime" placeholder="끝" date-time format="yyyy. MM. dd. HH:mm" view="date"
         ng-model="lesson.end" class="form-control date">
</div>


<!--<div ng-if="lesson.start.isSameDay(lesson.end)">-->
<!--{{lesson.start.getDateString()}} ({{lesson.start.getDayKR()}})-->
<!--{{lesson.start.getTimeString()}} ~ {{lesson.end.getTimeString()}}-->
<!--</div>-->
<!--<div ng-if="!lesson.start.isSameDay(lesson.end)">-->
<!--{{lesson.start.toYMD()}} <span ng-show="lesson.end">~</span> {{lesson.end.toYMD()}}-->
<!--</div>-->
<textarea ng-model="lesson.description" class="form-control" placeholder="내용"></textarea>
