<div layout="row">
  <div class="photo" flex hide-sm>
    <img ng-src="{{reply.writer.profileUrl || '/resource/profile.png'}}">
  </div>
  <div class="info" flex>
    <div class="info_append" ng-show="!mod">
      <strong class="tit_userid">
        {{reply.writer.name}}
      </strong>
      <span class="txt_time">{{reply.writeDate.toYMD()}}</span>
    </div>
    <div class="body">
      <span ng-show="!mod">
      <span ng-bind-html="reply.body.newLine()"></span>
      <like type="REPLY" like="reply.likes" target="reply.id"></like>
      </span>
      <div class="box-area" ng-show="mod">
        <md-input-container>
          <textarea ng-model="reply.body" aria-label="reply"></textarea>
        </md-input-container>
        <div class="write_append">
          <div class="wrap_btn">
            <md-button aria-label="done" class="md-raised" ng-click="modify()">작성 완료</md-button>
          </div>
        </div>
      </div>
      <div class="comment_setting" ng-show="rootUser.id==reply.writer.id && !mod">
        <span class="btn_set" ng-click="modify()">수정</span>
        <span class="btn_set" ng-click="delete(reply.id)">삭제</span>
      </div>
    </div>
  </div>
</div>
