.search-bar {
  display: inline-block;
  transition: all linear 0.3s;
  input {
    border: none;
    outline: none;
  }
}

.search-bar.active {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 2px 7px 4px 7px;
}

section {
  padding: 16px;
  margin: 16px;
  max-width: 864px;
  box-sizing: border-box;
  h2 {
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: -1px;
  }
  .info {
    display: block;
    padding-top: 5px;
    font-size: 13px;
    color: #666;
  }
}
