<div layout="row" ng-repeat="contentType in lecture.contentTypes">
  <md-input-container class="md-block" flex>
    <label>게시물 타입</label>
    <input ng-model="contentType.name">
  </md-input-container>
  <div flex>
    시간
    <div class="sub-setting">
      <md-checkbox ng-model="contentType.startTime">
        시작
      </md-checkbox>
      <md-checkbox ng-model="contentType.endTime">
        <span ng-show="contentType.startTime">끝</span>
        <span ng-show="!contentType.startTime">마감</span>
      </md-checkbox>
      <md-checkbox ng-model="contentType.extendWrite" ng-disabled="!contentType.startTime && !contentType.endTime">
        일괄 등록 사용
      </md-checkbox>
    </div>
  </div>
  <div flex>
    댓글
    <div class="sub-setting">
      <md-checkbox ng-model="contentType.onlyWriter">
        작성자만 열람
      </md-checkbox>
      <md-checkbox ng-model="contentType.statistic">
        통계
      </md-checkbox>
    </div>
  </div>
  <div flex>
    <md-button aria-label="remove" ng-click="lecture.removeContentType(contentType)">삭제</md-button>
  </div>

</div>
<div layout="row">
  <md-input-container flex="80">
    <label>게시물 타입</label>
    <input ng-model="contentType.name">
  </md-input-container>
  <md-button aria-label="new" ng-click="newContentType()" flex="20">
    게시물 타입 추가하기
  </md-button>
</div>
