<div layout="row" layout-sm="column" ng-repeat="userGroup in lecture.userGroups">
  <md-input-container flex class="md-block">
    <label>그룹</label>
    <input ng-model="userGroup.name">
  </md-input-container>
  <div>
    <md-checkbox ng-model="select[$index]" ng-click="lecture.defaultGroupSelect($index, select)">
      기본 그룹
    </md-checkbox>
  </div>
  <div>
    <md-button aria-label="remove" ng-click="lecture.removeUserGroup(userGroup)">삭제</md-button>
  </div>
</div>
<div layout="row" layout-sm="column">
  <md-input-container flex="80">
    <label>그룹</label>
    <input ng-model="userGroup.name">
  </md-input-container>
  <md-button aria-label="new" ng-click="newUserGroup()" flex="20">
    그룹 추가하기
  </md-button>
</div>
