<span ng-show="!mod">
   <span ng-bind-html="ngModel || placeholder"></span> <small><i ng-show="modRight" ng-click="mod=true"
                                                                 class="fa fa-pencil"></i></small>
</span>
<span ng-if="modRight" ng-show="mod">
  <wysiwyg ng-model="ngModel" textarea-class="form-control"
           textarea-height="250px"
           textarea-required enable-bootstrap-title="true"></wysiwyg>
  <div class="btn btn-primary margin-vertical full-width" ng-click="save()">작성완료</div>
</span>

