<section>
  <div class="input-group margin-vertical">
    <div class="input-group-addon" data-toggle="dropdown">
      {{types[content.type].name||"구분"}}
      <span class="caret"></span></div>
    <ul class="dropdown-menu">
      <li ng-click="content.type=undefined"><a>구분</a></li>
      <li class="divider"></li>
      <li ng-repeat="(key,type) in types" ng-click="content.type=key"><a>{{type.name}}</a></li>
    </ul>
    <input ng-model="content.title" class="form-control" placeholder="제목">
  </div>

  <div class="input-group" ng-show="types[content.type].dueDate">
    <div class="input-group-addon">기한</div>
    <input class="form-control"
           placeholder="기한" type="datetime" date-time
           ng-model="content.dueDate" max-view="date">
  </div>
</section>


<section>
  <wysiwyg ng-model="content.body" textarea-class="form-control"
           textarea-height="250px"
           textarea-required enable-bootstrap-title="true"></wysiwyg>
  <div class="btn btn-primary margin-vertical full-width" ng-click="edit(content)">작성완료</div>
</section>


