<section>
  <div layout="row">
    <h2>패스워드를 변경합니다.</h2>
  </div>
  <div layout="column">
    <form name="passwordForm">
      <md-input-container class="md-block">
        <label>새로운 패스워드</label>
        <input required type="password" name="password" ng-model="rootUser.password"
               minlength="6" maxlength="20"/>

        <div ng-messages="passwordForm.password.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength']">
            패스워드는 6자~20자입니다.
          </div>
        </div>
      </md-input-container>
    </form>
    <md-button class="md-raised" ng-click="sendPasswordRefineRequest()">패스워드 변경하기</md-button>
  </div>
  <div layout="row" layout-align="center center" class="margin-top">
    <img src="/resource/bg.gif">
  </div>
</section>
