// 데이터 익스포트
SELECT * FROM user
INTO OUTFILE 'user.csv'
CHARACTER SET utf8
FIELDS TERMINATED BY ','
ESCAPED BY '\\'
LINES TERMINATED BY '\n'

// 데이터 임포트
LOAD DATA LOCAL INFILE "user.csv"
INTO TABLE user FIELDS TERMINATED BY ",";