<div class="jumbotron">
  <div class="container">
    <h2>나의 강의</h2>
    <p>
      <drop-down data="user.lectures" placeholder="년도" distinct="year" ng-model="query.year"></drop-down>
      <drop-down data="user.lectures" placeholder="학기" distinct="semester" ng-model="query.semester"></drop-down>
      <drop-down data="user.lectures" placeholder="구분" distinct="type" ng-model="query.type"></drop-down>
      <drop-down data="user.lectures" placeholder="교수" distinct="prof" ng-model="query.prof"></drop-down>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <lecture-table lectures="user.lectures" query="query"></lecture-table>
  </div>
</div>
