<section>
  <div class="tree">
    <div class="handle">
      <span ng-click="treeEdit=true" ng-show="!treeEdit">[편집]</span>
      <span ng-click="treeEdit=false" ng-show="treeEdit">[완료]</span>
    </div>
    <lecture-node all-lectures="lectures" readonly="!treeEdit"></lecture-node>
  </div>
  <div layout="row" layout-padding>
    <md-input-container flex>
      <label>검색어</label>
      <input type="text" ng-model="query">
    </md-input-container>
  </div>

  <lecture-list lectures="lectures" query="query"></lecture-list>
  <div layout="row" layout-align="end center" class="margin-top">
    <md-button aria-label="new" ui-sref="lectureNew" class="md-raised">
      새 강의
    </md-button>
  </div>
</section>
