#File Upload
FILE_UPLOAD_PATH=<PATH TO REPOSITORY>/client/app/uploads/
RELATIVE_PATH=<접근경로 프리픽스>

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=

#테스트 할때 이메일 받을 계정
TEST_MAIL_RECEIVE_ACCOUNT=

SERVICE_DOMAIN=http://localhost:9000

#테스트데이터 위치 미입력시 클래스패스/../../testdata
dbdump_csvpath=C:/Users/dev/git/2015-03-REAL-TUTU/testdata