<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %d{HH:mm:ss} [%thread] %logger{36} [ %method\(\) - Line %line ] - [ Message ▶ %msg ]%n</pattern>
        </encoder>
    </appender>

    <logger name="org.next" level="DEBUG">
        <appender-ref ref="STDOUT" />

    </logger>

    <root level="WARN">
        <appender-ref ref="FILE" />
    </root>
</configuration>
