

SELECT * FROM user
INTO OUTFILE 'user.csv'
CHARACTER SET utf8
FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED BY '"'
ESCAPED BY '\\'
LINES TERMINATED BY '\n'

LOAD DATA LOCAL INFILE "filePath"
INTO TABLE dbName.tableName FIELDS TERMINATED BY ",";