<div class="row">
  <div class="col-md-12">
    <div class="info pull-right">
      <div class="search-bar" ng-class="{active:searching}">
        <input ng-show="searching" class="fade-in-out" id="search" ng-model="keyword" placeholder="검색어">
        <i class="fa" ng-class="{'fa-times':searching, 'fa-search':!searching}" ng-click="searching=!searching;"></i>
      </div>
      <span class="margin-right"></span>
      <i ui-sref="contentNew({lectureId:lecture.id})" class="fa fa-pencil"></i>
    </div>
    <div class="info">
      <span ng-click="setType()"><a class="black">전체</a></span>
      <span ng-repeat="(key, type) in lecture.contentTypes">
        <span class="bar"></span>
        <span ng-click="setType(type)"><a class="black">{{type.name}}</a></span>
      </span>
    </div>
    <content-list keyword="keyword" contents="contents"></content-list>
  </div>
</div>
