<div layout="row">
  <div class="info" flex>
    <span ng-click="setType()"><a class="black">전체</a></span>
      <span ng-repeat="(key, type) in lecture.contentTypes">
        <span class="bar"></span>
        <span ng-click="setType(type)"><a class="black">{{type.name}}</a></span>
      </span>
  </div>
  <div flex layout="row" layout-align="end center">
    <div>
      <div class="search-bar" ng-class="{active:searching}">
        <input ng-show="searching" class="fade-in-out" id="search" ng-model="keyword" placeholder="검색어">
        <md-icon md-svg-icon="/resource/icon/search.svg" ng-click="searching=!searching;"></md-icon>
      </div>
      <span class="margin-right"></span>
      <md-icon md-svg-icon="/resource/icon/edit.svg" ui-sref="contentNew({lectureId:lecture.id})"></md-icon>
    </div>
  </div>
</div>
<content-list keyword="keyword" contents="contents"></content-list>
