<div layout="row" layout-sm="column">
  <div class="info" flex>
    <span ng-click="setType()"><a class="black">전체</a></span>
      <span ng-repeat="(key, type) in lecture.contentGroups">
        <span class="bar"></span>
        <span ng-click="setType(type)"><a class="black">{{type.name}}</a></span>
      </span>
  </div>
  <div flex layout="row" layout-align="end center" hide-sm>
    <div class="search-bar" ng-class="{active:searching}">
      <input ng-show="searching" class="fade-in-out" id="search" ng-model="keyword" placeholder="검색어">
      <md-icon md-svg-icon="/resource/icon/search.svg" ng-click="searching=!searching;"></md-icon>
    </div>
  </div>
</div>
<content-list keyword="keyword" contents="contents"></content-list>
