<md-list>
  <md-list-item ng-repeat="user in lecture.users">
    <div flex layout="column" layout-align="center start">
      <user-profile user="user"></user-profile>
    </div>
    <div flex layout="column" layout-align="center end">
      <md-button ng-if="user.id===lecture.hostUser.id">
        개설자
      </md-button>
      <md-menu ng-hide="user.id===lecture.hostUser.id">
        <md-button ng-click="openIfRootUser($mdOpenMenu,$event)" aria-label="group name">
          {{user.group.name}}
        </md-button>
        <md-menu-content width="3">
          <md-menu-item ng-repeat="group in lecture.userGroups">
            <md-button  ng-click="groupChange(group, user)" aria-label="group change">
              {{group.name}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
    <div flex flex-gt-sm="10">
      <md-button ng-if="(rootUser.id !== user.id && rootUser.id===lecture.hostUser.id) || (rootUser.id !== lecture.hostUser.id && rootUser.id === user.id)" ng-click="lecture.expel(user)">
        탈퇴
      </md-button>
    </div>
  </md-list-item>
</md-list>
