<md-subheader>가입 대기자</md-subheader>
<md-list>
  <md-list-item ng-show="lecture.waitingUsers.length===0">
    신청자가 없습니다.
  </md-list-item>
  <md-list-item ng-repeat="user in lecture.waitingUsers">
    <div flex layout-align="center start">
      <user-profile user="user"></user-profile>
    </div>
    <md-button aria-label="approve" class="md-raised" ng-click="lecture.approval(user)">승인</md-button>
    <md-button aria-label="reject" class="md-raised" ng-click="lecture.reject(user)">거절</md-button>
  </md-list-item>
</md-list>
