message {
  overflow: auto;
  display: block;

  .red {
    font-size: 70%;
  }

  md-list-item:hover {
    background: #f5f5f5;
    small {
      display: inline;
    }
  }

  small {
    display: none;
  }

  a {
    color: black;
    :hover {
      color: black;
    }
  }
}


