<ul class="nav nav-tabs">
  <li ng-class="{active:type===undefined}" ng-click="type=undefined"><a>전체</a></li>
  <li ng-class="{active:type==='article'}" ng-click="type='article'"><a>게시물</a></li>
  <li ng-class="{active:type==='qna'}" ng-click="type='qna'"><a>QnA</a></li>
  <li ng-class="{active:type==='homework'}" ng-click="type='homework'"><a>과제</a></li>
</ul>

<div class="panel-body">
  <ul class="list-group">
    <li ng-repeat="content in contents" class="row list-group-item">
      <div class="col-sm-2">
        {{content.type}}
      </div>

      <div class="col-sm-10">
        <h3 ui-sref="content({id:content.id})">{{content.title}}</h3>


        <p>By <span ui-sref="profile({id:content.writer.id})">{{content.writer.name}}</span> {{content.date.toYMD()}}
        </p>
      </div>
    </li>
  </ul>
</div>
