<script type="text/ng-template" id="create-lecture.html">


  <div>
    <div class="modal-header">
      <h3 class="modal-title">강의 생성</h3>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="Lname">강의명</label>
          <input type="text" class="form-control" id="Lname" ng-model="lecture.name" placeholder="강의명">
        </div>
        <label for="Lname">교수</label>

        <div>
          <user-profile user="user"></user-profile>
        </div>
        <div ng-repeat="manager in managers">
          <user-profile user="manager"></user-profile>
          <i class="fa fa-times" ng-click="managers.remove(manager)"></i>
        </div>
        <auto-complete placeholder="교수" src="/api/v1/user/find" action="push"
                       template="/common/template/li.html"></auto-complete>
        <div class="form-group">
          <label>기간</label>

          <div>{{lecture.start.toDateString()}} ~ {{lecture.end.toDateString()}}</div>
          <div date-range start="lecture.start" end="lecture.end" min-view="date"></div>
        </div>
        <div class="form-group">
          <label>구분</label>
          <drop-down options="[0,1,2,3]" names="['전공필수', '전공선택', '교양', '기타']"></drop-down>
        </div>
        <div class="form-group">
          <label for="Lsection">시간</label>
          <input type="text" class="form-control" id="Lsection" ng-model="lecture.section" placeholder="시간">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-click="create(lecture)">create</button>
      <button type="button" class="btn btn-warning" ng-click="cancel()">cancel</button>
    </div>
  </div>
</script>
