<div layout="row" class="submit-user">
  <div flex="10"></div>
  <div flex="10">이전</div>
  <div flex="10" class="date-header" ng-repeat="date in dates">{{date.getDateString()}}</div>
</div>
<div layout="row" class="submit-user" ng-class="{submitted:submitRequiredUser.submitted}"
     ng-repeat="submitRequiredUser in submitRequiredUsers">
  <div flex="10">{{submitRequiredUser.user.name}}</div>
  <span ng-repeat="submit in submitRequiredUser.submits" ng-style="left(submit.writeDate)">
    <i class="fa fa-star"></i>
    <md-tooltip md-direction="right">{{submit.body}} {{submit.writeDate.toYMD()}}</md-tooltip>
  </span>

  <div class="deadline" ng-style="deadlineStyle">
  </div>
</div>
