<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="icon" href="/favicon.ico"/>
  <!-- build:css(.) /styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="/bower_components/angular-datepicker/dist/angular-datepicker.css" />
  <link rel="stylesheet" href="/bower_components/angular-toastr/dist/angular-toastr.css" />
  <link rel="stylesheet" href="/bower_components/angular-ui-router-anim-in-out/css/anim-in-out.css" />
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="/bower_components/angular-material-data-table/dist/md-data-table.min.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp,app}) /styles/main.css -->
  <!-- include: "type": "css", "files": "**/*.css" -->
  <link href="/common.directive.auto-complete/auto-complete.css" rel="stylesheet" type="text/css">
  <link href="/common.directive.drop-down/drop-down.css" rel="stylesheet" type="text/css">
  <link href="/common.directive.input-datepicker/input-datepicker.css" rel="stylesheet" type="text/css">
  <link href="/common.directive.like/like.css" rel="stylesheet" type="text/css">
  <link href="/common.directive.mod-input/mod-input.css" rel="stylesheet" type="text/css">
  <link href="/common.directive.upload-img/upload-img.css" rel="stylesheet" type="text/css">
  <link href="/common.page.main/main.css" rel="stylesheet" type="text/css">
  <link href="/common.style/animate.css" rel="stylesheet" type="text/css">
  <link href="/common.style/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/common.style/component.css" rel="stylesheet" type="text/css">
  <link href="/common.style/icons.css" rel="stylesheet" type="text/css">
  <link href="/common.style/index.css" rel="stylesheet" type="text/css">
  <link href="/common.style/menu.css" rel="stylesheet" type="text/css">
  <link href="/common.style/meterial.css" rel="stylesheet" type="text/css">
  <link href="/content.directive.content-header/content-header.css" rel="stylesheet" type="text/css">
  <link href="/lecture.page.detail/lecture.css" rel="stylesheet" type="text/css">
  <link href="/lecture.page.edit/part/right.css" rel="stylesheet" type="text/css">
  <link href="/message.directive/message.css" rel="stylesheet" type="text/css">
  <link href="/reply.directive.reply/reply.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/char_counter.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/code_view.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/colors.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/emoticons.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/file.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/froala_editor.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/froala_style.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/fullscreen.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/image.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/image_manager.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/line_breaker.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/plugins/char_counter.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/plugins/code_view.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/plugins/colors.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/plugins/emoticons.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/plugins/file.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/plugins/fullscreen.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/plugins/image.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/plugins/image_manager.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/plugins/line_breaker.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/plugins/table.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/plugins/video.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/table.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/themes/dark.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/themes/gray.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/themes/red.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/themes/royal.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/froala/css/video.min.css" rel="stylesheet" type="text/css">
  <link href="/resource/scdate/sc-date-time.css" rel="stylesheet" type="text/css">
  <link href="/user.directive.user-profile/user-profile.css" rel="stylesheet" type="text/css">
  <link href="/user.page.profile/profile.css" rel="stylesheet" type="text/css">
  <!-- /include -->
  <!-- endbuild -->
</head>
<body ng-app="clientApp" class="layout-row">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!--md-is-locked-open="$mdMedia('gt-md')"-->
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" ng-cloak flex>
  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools" ui-sref="main">NEXUS</h1>
  </md-toolbar>
  <md-content ng-controller="menuController">
    <div layout-padding>
      <ul class="menu" ng-show="rootUser.isLogged()">
        <li ui-sref="lectures">전체 강의</li>
      </ul>

      <ul class="menu" ng-show="rootUser.isLogged()">
        <li ng-click="open=!open" ng-init="open=true">내 강의
          <md-icon md-svg-src="/resource/icon/arrow.svg" class="arrow-icon" ng-class="{'open':!open}"></md-icon>
        </li>
        <md-divider></md-divider>
        <span ng-show="open">
          <li ui-sref="mylectures" class="child">전체 목록</li>
          <md-divider></md-divider>
          <li ng-repeat="lecture in lectures = ( rootUser.lectures | filter:{'sideMenu':true} )" class="child"
              ui-sref="lecture({id:lecture.id})">
            {{lecture.name}}
          </li>
          <md-divider ng-show="lectures.length>0"></md-divider>
        </span>
      </ul>

      <ul class="menu" ng-show="rootUser.isLogged()">
        <li ui-sref="profile({id:rootUser.id})">내 프로필</li>
        <li ui-sref="messages">소식 <span class="red" ng-show="rootUser.news">new</span></li>
        <md-divider></md-divider>
        <li ng-click="rootUser.logout()">로그아웃</li>
      </ul>
      <ul class="menu" ng-show="!rootUser.isLogged()">
        <li ng-click="login()">로그인</li>
        <li ng-click="register()">회원가입</li>
      </ul>
    </div>
  </md-content>
</md-sidenav>

<div role="main" layout="column" flex>
  <md-toolbar ng-controller="headerController">
    <div class="md-toolbar-tools centered">
      <md-button class="md-icon-button" aria-label="side nav tooggle" ng-click="toggleLeft()">
        <md-icon md-svg-icon="/resource/icon/menu.svg"></md-icon>
      </md-button>
      <span ng-click="state.current.headerClick()">{{state.current.header}}</span>
      <md-menu md-position-mode="target-right target">
        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <md-icon md-menu-origin md-svg-icon="/resource/icon/nav_before.svg"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item ng-repeat="state in history | limitTo : 10">
            <md-button>
              <div layout="row">
                <p flex ng-click="go(state)">{{state}}</p>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
  <md-content md-scroll-y ui-view>
  </md-content>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/bower_components/angular-touch/angular-touch.js"></script>
<script src="/bower_components/angular-messages/angular-messages.js"></script>
<!-- build:js(.) /scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/lodash/lodash.js"></script>
<script src="/bower_components/angular-datepicker/dist/angular-datepicker.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="/bower_components/restangular/dist/restangular.js"></script>
<script src="/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="/bower_components/bowser/bowser.js"></script>
<script src="/bower_components/angular-ui-router-anim-in-out/anim-in-out.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="/bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<!-- endbower -->
<!-- endbuild -->


<!-- build:js({.tmp,app}) /scripts/scripts.js -->
<!-- include: "type": "js", "files": "**/*.js" -->
<script src="/app.js"></script>
<script src="/common.controller/headerController.js"></script>
<script src="/common.controller/menuController.js"></script>
<script src="/common.directive.auto-complete/auto-complete.js"></script>
<script src="/common.directive.input-datepicker/input-datepicker.js"></script>
<script src="/common.directive.like/like.js"></script>
<script src="/common.directive.mod-input/mod-input.js"></script>
<script src="/common.directive.mod-textarea/mod-textarea.js"></script>
<script src="/common.directive.upload-img/upload-img.js"></script>
<script src="/common.directive/ngenter.js"></script>
<script src="/common.page.main/main.controller.js"></script>
<script src="/common.page.main/main.route.js"></script>
<script src="/common.page.notfound/notfound.route.js"></script>
<script src="/common.service/alert.js"></script>
<script src="/common.service/confirm.js"></script>
<script src="/common.service/dialog.js"></script>
<script src="/common.service/history.js"></script>
<script src="/common.service/http.js"></script>
<script src="/common.service/httpInterceptor.js"></script>
<script src="/common.service/page.js"></script>
<script src="/common.service/responseCode.js"></script>
<script src="/common.service/types.js"></script>
<script src="/content.directive.content-header/content-header.js"></script>
<script src="/content.directive.content-list/content-list.js"></script>
<script src="/content.model/content.model.js"></script>
<script src="/content.page.detail/detail.controller.js"></script>
<script src="/content.page.edit/edit.controller.js"></script>
<script src="/content.page.edit/write.controller.js"></script>
<script src="/content.route/content.route.js"></script>
<script src="/lecture.directive.lecture-list/lecture-list.js"></script>
<script src="/lecture.model/lecture.model.js"></script>
<script src="/lecture.page.detail/lecture.controller.js"></script>
<script src="/lecture.page.detail/lecture.route.js"></script>
<script src="/lecture.page.edit/edit.controller.js"></script>
<script src="/lecture.page.list/list.js"></script>
<script src="/lecture.page.mylist/mylist.js"></script>
<script src="/message.directive/message.js"></script>
<script src="/message.model/message.model.js"></script>
<script src="/message.page.list/messages.controller.js"></script>
<script src="/message.page.list/messages.js"></script>
<script src="/prototype.js"></script>
<script src="/reply.directive.reply/reply.js"></script>
<script src="/reply.model/reply.model.js"></script>
<script src="/resource/froala.directive.js"></script>
<script src="/resource/froala.toolbar.directive.js"></script>
<script src="/resource/froala/froala_editor.min.js"></script>
<script src="/resource/froala/ko.js"></script>
<script src="/resource/froala/plugin/align.min.js"></script>
<script src="/resource/froala/plugin/char_counter.min.js"></script>
<script src="/resource/froala/plugin/code_view.min.js"></script>
<script src="/resource/froala/plugin/colors.min.js"></script>
<script src="/resource/froala/plugin/emoticons.min.js"></script>
<script src="/resource/froala/plugin/entities.min.js"></script>
<script src="/resource/froala/plugin/file.min.js"></script>
<script src="/resource/froala/plugin/font_family.min.js"></script>
<script src="/resource/froala/plugin/font_size.min.js"></script>
<script src="/resource/froala/plugin/fullscreen.min.js"></script>
<script src="/resource/froala/plugin/image.min.js"></script>
<script src="/resource/froala/plugin/image_manager.min.js"></script>
<script src="/resource/froala/plugin/inline_style.min.js"></script>
<script src="/resource/froala/plugin/ko.js"></script>
<script src="/resource/froala/plugin/line_breaker.min.js"></script>
<script src="/resource/froala/plugin/link.min.js"></script>
<script src="/resource/froala/plugin/lists.min.js"></script>
<script src="/resource/froala/plugin/paragraph_format.min.js"></script>
<script src="/resource/froala/plugin/paragraph_style.min.js"></script>
<script src="/resource/froala/plugin/quote.min.js"></script>
<script src="/resource/froala/plugin/save.min.js"></script>
<script src="/resource/froala/plugin/table.min.js"></script>
<script src="/resource/froala/plugin/url.min.js"></script>
<script src="/resource/froala/plugin/video.min.js"></script>
<script src="/resource/moment-ko.js"></script>
<script src="/resource/scdate/sc-date-time.js"></script>
<script src="/template.js"></script>
<script src="/user.controller/auth.controller.js"></script>
<script src="/user.directive.user-profile/user-profile.js"></script>
<script src="/user.model/rootuser.js"></script>
<script src="/user.model/user.model.js"></script>
<script src="/user.page.profile/profile.controller.js"></script>
<script src="/user.page.profile/profile.route.js"></script>
<!-- /include -->
<!-- endbuild -->

<script>
  console.log(
    "%c                             ___-------___  \n" +
    "                         _-~~             ~~-_\n" +
    "                      _-~                    /~-_ \n" +
    "   /^\\__/^\\         /~  \\                   /    \\ \n" +
    " /|  O|| O|        /      \\_______________/        \\ \n" +
    "| |___||__|      /       /                \\          \\ \n" +
    "|          \\    /      /    DAN HO PARK     \\          \\ \n" +
    "|   (_______) /______/                        \\_________ \\ \n" +
    "|         / /         \\                      /            \\ \n" +
    " \\         \\^\\\\         \\                  /               \\     / \n" +
    "   \\         ||           \\______________/      _-_       //\\__//\n" +
    "     \\       ||------_-~~-_ ------------- \\ --/~   ~\\    || __/\n" +
    "       ~-----||====/~     |==================|       |/~~~~~\n" +
    "        (_(__/  ./     /                    \\_\\      \\.\n" +
    "               (_(___/                         \\_____)_)\n"
    , 'color: green; display: block;');
</script>
</body>
</html>
