<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="icon" href="/favicon.ico"/>
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css"/>
  <link rel="stylesheet" href="/bower_components/angular-datepicker/dist/angular-datepicker.css"/>
  <link rel="stylesheet" href="/bower_components/angular-toastr/dist/angular-toastr.css"/>
  <link rel="stylesheet" href="/bower_components/angular-bootstrap-colorpicker/css/colorpicker.css"/>
  <link rel="stylesheet" href="/bower_components/angular-ui-router-anim-in-out/css/anim-in-out.css"/>
  <link rel="stylesheet" href="/bower_components/fullcalendar/dist/fullcalendar.css"/>
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css"/>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="/common/style/animate.css"/>
  <link rel="stylesheet" href="/common/style/menu.css"/>
  <link rel="stylesheet" href="/common/style/bootstrap.css"/>
  <link rel="stylesheet" href="/common/style/index.css"/>
  <link rel="stylesheet" href="/common/style/component.css"/>
  <link rel="stylesheet" href="/common/style/icons.css"/>
  <link rel="stylesheet" href="/common/style/flaty.min.css"/>
  <link rel="stylesheet" href="/common/style/meterial.css"/>
  <link rel="stylesheet" href="/common/page/main/main.css"/>
  <link rel="stylesheet" href="/common/directive/drop-down/drop-down.css"/>
  <link rel="stylesheet" href="/common/directive/mod-input/mod-input.css"/>
  <link rel="stylesheet" href="/common/directive/auto-complete/auto-complete.css"/>
  <link rel="stylesheet" href="/common/directive/upload-img/upload-img.css"/>
  <link rel="stylesheet" href="/user/profile/user-profile/user-profile.css"/>
  <link rel="stylesheet" href="/user/profile/profile.css"/>
  <link rel="stylesheet" href="/lesson/lesson/lesson.css"/>
  <link rel="stylesheet" href="/lesson/lesson-edit/lesson-edit.css"/>
  <link rel="stylesheet" href="/content/content-header/content-header.css"/>
  <link rel="stylesheet" href="/lecture/view/lecture.css"/>

  <!-- endbuild -->
</head>
<body ng-app="clientApp" class="layout-row">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!--<header ng-include="'/common/part/header/header.html'" class="header"></header>-->

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"
            ng-cloak flex>
  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">NEXUS</h1>
  </md-toolbar>
  <md-content layout-padding ng-controller="sideController">
    <ul class="menu">
      <li ui-sref="lectures">전체 강의</li>
    </ul>
    <ul class="menu" ng-show="user.isLogged()">
      <li ui-sref="mylectures">내 강의</li>
      <li ng-click="logout()">로그아웃</li>
    </ul>
    <ul class="menu" ng-show="!user.isLogged()">
      <li ng-click="login()">로그인</li>
      <li ng-click="register()">회원가입</li>
    </ul>
  </md-content>
</md-sidenav>

<div role="main" layout="column" flex>
  <md-content layout-padding md-scroll-y ui-view ng-class="state.current.name">
  </md-content>
</div>
<!--<div ng-controller="AlertCtrl" id="alert" ng-show="showing" ng-click="showing=!showing">{{alert.alert}}</div>-->


<!--<div class="footer">-->
<!--<div class="container">-->
<!--<p>2015-03-REAL-TUTU 강의 관리 시스템 개발(박성호,황정민,하태호)</p>-->
<!--</div>-->
<!--</div>-->


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/bower_components/angular-touch/angular-touch.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/lodash/lodash.js"></script>
<script src="/bower_components/angular-datepicker/dist/angular-datepicker.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="/bower_components/restangular/dist/restangular.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="/bower_components/bowser/bowser.js"></script>
<script src="/bower_components/freewall/freewall.js"></script>
<script src="/bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
<script src="/bower_components/angular-ui-router-anim-in-out/anim-in-out.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/fullcalendar/dist/fullcalendar.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="/bower_components/angular-messages/angular-messages.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="/resource/angular-wysiwyg.js"></script>
<script src="/resource/moment-ko.js"></script>

<script src="/app.js"></script>
<script src="/prototype.js"></script>


<script src="/common/service/regex.js"></script>
<script src="/common/service/alert.js"></script>
<script src="/common/service/http.js"></script>
<script src="/common/service/responseCode.js"></script>
<script src="/common/service/modal/modal.js"></script>
<script src="/common/service/types.js"></script>
<script src="/common/service/dialog.js"></script>
<script src="/common/service/interceptor/httpInterceptor.js"></script>

<script src="/common/controller/sideController.js"></script>

<script src="/common/directive/mod-input/mod-input.js"></script>
<script src="/common/directive/mod-textarea/mod-textarea.js"></script>
<script src="/common/directive/menu.js"></script>
<script src="/common/directive/auto-complete/auto-complete.js"></script>
<script src="/common/directive/ngenter.js"></script>
<script src="/common/directive/textarea.js"></script>
<script src="/common/directive/sort.js"></script>
<script src="/common/directive/ngregex.js"></script>
<script src="/common/directive/like/like.js"></script>
<script src="/common/directive/drop-down/drop-down.js"></script>
<script src="/common/directive/upload-img/upload-img.js"></script>
<script src="/common/directive/freewall.js"></script>
<script src="/common/directive/calendar.js"></script>
<script src="/common/directive/affix.js"></script>

<script src="/common/part/header/header.js"></script>
<!--<script src="/common/part/alert/alert.js"></script>-->


<script src="/common/page/notfound/notfound.js"></script>
<script src="/common/page/main/main.js"></script>


<script src="/content/content-list/content-list.js"></script>
<script src="/content/content-header/content-header.js"></script>
<script src="/content/edit/edit.js"></script>
<script src="/content/view/content.js"></script>
<script src="/content/contentBroker.js"></script>

<script src="/user/user.js"></script>
<script src="/user/userBroker.js"></script>
<script src="/user/profile/user-profile/user-profile.js"></script>
<script src="/user/profile/user-profile-dropdown/user-profile.js"></script>
<script src="/user/profile/my-profile/my-profile.js"></script>
<script src="/user/profile/profile.js"></script>
<script src="/user/auth/auth.js"></script>

<script src="/lecture/edit/edit.js"></script>
<script src="/lecture/view//mylist/mylist.js"></script>
<script src="/lecture/view/lecture.js"></script>
<script src="/lecture/view/list/list.js"></script>
<script src="/lecture/lecture-table/lecture-table.js"></script>
<script src="/lecture/lectureBroker.js"></script>

<script src="/lesson/lesson/lesson.js"></script>
<script src="/lesson/lesson-edit/lesson-edit.js"></script>

<script src="/reply/reply/reply.js"></script>
<script src="/reply/replyBroker.js"></script>
<!-- endbuild -->

<script>
  console.log(
    "%c                             ___-------___  \n" +
    "                         _-~~             ~~-_\n" +
    "                      _-~                    /~-_ \n" +
    "   /^\\__/^\\         /~  \\                   /    \\ \n" +
    " /|  O|| O|        /      \\_______________/        \\ \n" +
    "| |___||__|      /       /                \\          \\ \n" +
    "|          \\    /      /    DAN HO PARK     \\          \\ \n" +
    "|   (_______) /______/                        \\_________ \\ \n" +
    "|         / /         \\                      /            \\ \n" +
    " \\         \\^\\\\         \\                  /               \\     / \n" +
    "   \\         ||           \\______________/      _-_       //\\__//\n" +
    "     \\       ||------_-~~-_ ------------- \\ --/~   ~\\    || __/\n" +
    "       ~-----||====/~     |==================|       |/~~~~~\n" +
    "        (_(__/  ./     /                    \\_\\      \\.\n" +
    "               (_(___/                         \\_____)_)\n"
    , 'color: green; display: block;');
</script>
</body>
</html>
