<md-menu md-offset="0 35" md-position-mode="target-right target">
  <md-button aria-label="messages" class="md-icon-button"
             ng-click="$mdOpenMenu($event)">
    <span class="news" ng-show="Message.new">{{Message.new}}</span>
    <md-icon md-menu-origin md-svg-icon="/resource/icon/alerts.svg"></md-icon>
  </md-button>
  <md-menu-content>
    <md-menu-item class="message" ng-repeat="message in Message.messages | orderBy:'-date'">
      <md-button aria-label="메시지">
        <message message="message"></message>
      </md-button>
    </md-menu-item>
    <md-menu-item ng-show="messages.length===10">
      <md-button ui-sref="messages">
        <div layout="row">
          <p flex>메시지 더보기</p>
        </div>
      </md-button>
    </md-menu-item>
    <md-menu-item ng-show="messages.length===0">
      <md-button>
        <div layout="row">
          <p flex>메시지가 없습니다.</p>
        </div>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
