content-timeline {
  overflow-y: auto;
  display: block;
  font-size: 80%;
  text-align: center;
  .day-header {
    color: #999;
    background: #eee;
    padding: 5px;
  }
  .day-body {
    padding: 5px;
    .event {
      margin-bottom: 10px;
    }
  }

  .dates {
    min-width: 100px;
    min-height: 100px;
    border-left: 1px solid #eee;
  }
  .dates:last-child {
    border-right: 1px solid #eee;
  }

  .week {
    border-top: 1px solid #eee;
  }
  .week:last-child {
    border-bottom: 1px solid #eee;
  }

  .body {
    height: 300px;
    position: relative;
    border-top: 1px dashed #eee;
    border-bottom: 1px dashed #eee;
    margin-bottom: 30px;
    .header {
      font-size: 15px;
    }
  }

  .time-divider {
    height: 100%;
    width: 1px;
    position: absolute;
    border-right: 1px dashed #ddd;
  }

  .time-divider.now {
    position: absolute;
    height: 100%;
    border-right: 1px solid red;
    span {
      position: absolute;
      color: red;
      top: 100%;
      background: white;
      transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
  }

  .time-divider {
    left: 50%;
  }

  .time-divider.first {
    left: 25%;
  }

  .time-divider.last {
    left: 75%;
  }

  .date-header {
    position: relative;
    height: 20px;
    span {
      position: absolute;
      color: #aaa;
      font-size: 12px;
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    span:last-child {
      -ms-transform: none;
      -webkit-transform: none;
      transform: none;
    }
    span:first-child {
      -ms-transform: none;
      -webkit-transform: none;
      transform: none;
    }
  }

}
