<md-toolbar class="header" ng-controller="headerController">
  <div class="md-toolbar-tools centered">
    <md-button class="md-icon-button" aria-label="side nav tooggle" ng-click="toggleLeft()"><!--hide-gt-sm-->
      <md-icon md-svg-icon="/resource/icon/menu.svg"></md-icon>
    </md-button>
    <span ng-click="state.current.headerClick()">{{state.current.header}}</span>
    <span class="flex"></span>
    <search-in-my-lectures hide-sm ng-show="rootUser.isLogged()"></search-in-my-lectures>
    <messages hide-sm ng-show="rootUser.isLogged()" style="margin-left:10px;margin-right:-18px"></messages>
    <root-user hide-sm ng-show="rootUser.isLogged()"></root-user>
  </div>
</md-toolbar>
