<div ng-controller="menuController">
  <md-content class="nx-transparent">
    <ul class="menu md-body-1" ng-show="rootUser.isLogged()">
      <li class="nx-menu-li"  ng-click="close()">창닫기</li>
      <li class="nx-menu-li" ui-sref="lectures"  ng-click="close()">전체 강의</li>
      <li class="nx-menu-li"  ng-click="setDateNow().close()" >지금</li>
      <li class="nx-menu-li"  ng-click="setDateOneWeek().close()">이후 7일</li>
    </ul>
    <ul class="menu md-body-1" ng-show="rootUser.isLogged()">
      <li ui-sref="mylectures" ng-click="close()">내 강의 관리</li>
      <li ng-repeat="lecture in lectures = ( rootUser.lectures | filter:{'sideMenu':true} )" class="child"
          ui-sref="lecture({id:lecture.id})" ng-click="close()">
        {{lecture.name}}
      </li>
      <li ng-repeat="lecture in lectures = ( rootUser.waitingLectures | filter:{'sideMenu':true} )" class="child"
          ui-sref="lecture({id:lecture.id})" ng-click="close()">
        {{lecture.name}}
      </li>
    </ul>
    <ul class="menu md-body-1" hide-gt-sm ng-show="rootUser.isLogged()">
      <li><search-in-my-lectures style="width: 260px;display: block;"></search-in-my-lectures></li>
      <li ui-sref="messages" ng-click="close()">소식 <span class="red" ng-show="Message.new">{{Message.new}}</span></li>
      <li ui-sref="profile({id:rootUser.id})" ng-click="close()">내 정보</li>
      <li dialog="report">의견, 버그제보</li>
      <li ng-click="rootUser.logout()">로그아웃</li>
    </ul>
    <ul class="menu md-body-1" ng-show="!rootUser.isLogged()">
      <li dialog="login">로그인</li>
      <li dialog="register">회원가입</li>
      <li dialog="report" hide-gt-sm>의견, 버그제보</li>
    </ul>
  </md-content>
</div>
