<nav id="nx-nav" hide show-gt-sm flex="25">
<div id="sideNav-fixed">
  <md-content class="nx-transparent">
    <ul class="menu md-body-1" ng-show="vm.rootUser.isLogged()">
      <li class="nx-menu-li" ui-sref="lectures">전체 강의</li>
      <li class="nx-menu-li"  ng-click="vm.setDateNow()" >지금</li>
      <li class="nx-menu-li"  ng-click="vm.setDateOneWeek()">이후 7일</li>
    </ul>
    <ul class="menu md-body-1" ng-show="vm.rootUser.isLogged()">
      <li ng-click="vm.goLectures()">내 강의 관리</li>
      <!--<li ng-repeat="lecture in lectures = ( vm.rootUser.lectures | filter:{'sideMenu':true} )" class="child"-->
          <!--ui-sref="lecture({id:lecture.id})" >-->
        <!--{{lecture.name}}-->
      <!--</li>-->
      <!--<li ng-repeat="lecture in lectures = ( vm.rootUser.waitingLectures | filter:{'sideMenu':true} )" class="child"-->
          <!--ui-sref="lecture({id:lecture.id})">-->
        <!--{{lecture.name}}-->
      <!--</li>-->
    </ul>
    <ul class="menu md-body-1" ng-show="!vm.rootUser.isLogged()">
      <li dialog="login">로그인</li>
      <li dialog="register">회원가입</li>
      <li dialog="report" hide-gt-sm>의견, 버그제보</li>
    </ul>
  </md-content>
 </div>
</nav>
