<md-toolbar class="header" ng-controller="headerController">
  <div class="md-toolbar-tools centered">
    <md-button class="md-icon-button hide-gt-sm" aria-label="side nav tooggle" ng-click="toggleLeft()">
      <md-icon md-svg-icon="/resource/icon/menu.svg"></md-icon>
    </md-button>
    <span ng-click="state.current.headerClick()">{{state.current.header}}</span>
    <span class="flex"></span>
    <search-in-my-lectures ng-show="rootUser.id!==undefined"></search-in-my-lectures>
    <messages ng-show="rootUser.id!==undefined" style="margin-left:10px;margin-right:-18px"></messages>
    <root-user ng-show="rootUser.id!==undefined"></root-user>
  </div>
</md-toolbar>
