<div layout="row">
  <span class="underlined">댓글 ({{content.repliesSize}})</span>
</div>
<div ng-click="more()" class="more-reply" ng-show="moreReplyExist">댓글 더보기</div>
<div ng-repeat="reply in replies | orderBy:'writeDate'" layout="row">
  <div reply="reply" replies="replies"></div>
</div>
<div class="reply-write" layout="row">
  <div class="photo" flex>
    <img class="profile" ng-src="{{rootUser.profileUrl || '/resource/profile.png'}}">
  </div>
  <div class="info" flex>
    <div class="body">
      <div class="box-area">
        <md-input-container>
          <textarea ng-model="reply.body" aria-label="reply"></textarea>
        </md-input-container>
        <div class="write_append">
          <div class="wrap_btn">
            <md-button aria-label="done button" class="md-raised" ng-click="writeReply(reply)">댓글 달기</md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
