#alert {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100000;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px 30px;
  border-left: 1px solid red;
  border-radius: 0 30px 0 0;
  max-width: 500px;
}
