<section>
  <md-list>
    <md-subheader class="md-no-sticky">메시지</md-subheader>
    <md-divider></md-divider>
    <message message="message" ng-repeat="message in messages | orderBy:'-date'"></message>
    <md-list-item>
      <div class="md-list-item-text" ng-show="page.hasNext()" ng-click="move()">
        <div class="md-list-item-text">
          <h4>더보기</h4>
        </div>
      </div>
      <div class="md-list-item-text" ng-show="!page.hasNext()">
        <h4>마지막입니다.</h4>
      </div>
    </md-list-item>
  </md-list>

</section>
