input-datepicker {
  padding-top: 30px;
  margin-left: -10px;
  div {
    outline: none;
  }
  .md-datepicker-input-container {
    border-color: rgba(0, 0, 0, 0.12);
  }
  .md-datepicker-input.right {
    margin-right: 30px;
  }
  label {
    color: rgba(0, 0, 0, 0.54);
  }
  label.on {
    color: rgba(0, 0, 0, 0.54);
    order: 1;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    z-index: 1;
    transform-origin: left top;
    position: relative;
    top: -20px;
    font-size: 11px;
  }
}
