loading {
  text-align: center;
  md-progress-circular {
    display: inline-block;
    transform: translateX(-50%) translateY(-50%) scale(0.5) !important;
    -ms-transform: translateX(-50%) translateY(-50%) scale(0.5) !important;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.5) !important;
    left: 50%;
    top: 55%;
    position: absolute;
    transition: 0.4s linear all;
    opacity: 1;
  }
  md-progress-circular.ng-hide {
    opacity: 0;
  }
}
