loading {
  md-progress-circular {
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    position: absolute;
    transition: 0.4s linear all;
    opacity: 1;
  }
  md-progress-circular.ng-hide {
    opacity: 0;
  }
}
