.time-divider {
  height: 100%;
  width: 1px;
  position: absolute;
  border-right: 1px dashed #ddd;
  top: -12px;
  span {
    display: inline-block;
    width: 100px;
    position: absolute;
    left: -50px;
    top: -28px;
    color: #aaa;
  }
}

.time-divider.now {
  border-right: 1px dashed #FF80AB;
  span {
    color: red;
    top: 50%;
    background: white;
    width: 30px;
    left: -15px;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}

.time-divider {
  left: 50%;
}

.time-divider.first {
  left: 25%;
}

.time-divider.last {
  left: 75%;
}

.date-header {
  margin-bottom: 20px;
  border-bottom: 1px dashed #eee;
  color: #aaa;
}

lecture-summary {
  margin-top: 5px;
  text-align: center;
  font-size: 80%;
  position: relative;
  display: block;
  border-top: 2px dotted #eee;
  padding-top: 30px;
  padding-bottom: 30px;
  .now {
    position: absolute;
    height: 100%;
    border-right: 1px solid red;
  }

  .body {
    height: 100px;
    position: relative;
    border-bottom: 1px dashed #eee;
    .header {
      font-size: 15px;
    }
  }

  md-grid-list {
    margin: 8px;
    .gray {
      background: #f5f5f5;
    }
    .green {
      background: #b9f6ca;
    }
    .yellow {
      background: #ffff8d;
    }
    .blue {
      background: #84ffff;
    }
    .purple {
      background: #b388ff;
    }
    .red {
      background: #ff8a80;
    }
    md-grid-tile {
      transition: all 200ms ease-out 50ms;
      opacity: 0.8;
    }
    md-grid-tile.hover {
      opacity: 1;
    }
  }
}
