<section>
  <div layout="row" layout-sm="column" layout-align-sm="center center" class="profile">
    <div layout="column">
      <div class="profile-img">
        <img ng-if="!user.isRootUser()" ng-src="{{user.profileUrl || '/resource/profile.png'}}">
        <upload-img ng-if="user.isRootUser()" ng-model="user.profileUrl" default="/resource/profile.png"
                    done="uploadCallback"></upload-img>
      </div>
    </div>
    <div layout="column" layout-align="end start" layout-align-sm="center center" class="center-sm" flex>
      <mod-input tag="h2" ng-model="user.name" mod-right="user.isRootUser()" placeholder="이름"
                 mod-save="update"></mod-input>
      <mod-textarea ng-model="user.introduce" class="margin-bottom-s" mod-right="user.isRootUser()" placeholder="소개말"
                    mod-save="update"></mod-textarea>
      <div class="info margin-bottom">
        <span dialog="letter(user)"><i class="fa fa-comment-o"></i> 쪽지</span>
        <span class="bar"></span>
        <a ng-href="mailto:{{user.email}}"><i class="fa fa-envelope-o"></i> {{user.email}}</a>
        <span class="bar"></span>
        <span>
          <i class="fa fa-star-o"></i><mod-input ng-model="user.major" mod-right="user.isRootUser()" placeholder="전공" mod-save="update"></mod-input>
        </span>
      </div>

    </div>
  </div>
  <md-tabs md-selected="tabIndex" md-dynamic-height md-border-bottom>
    <md-tab label="올린 게시물">
      <md-content class="md-padding">
        <content-list query="{writer:user.id}"></content-list>
      </md-content>
    </md-tab>
    <md-tab label="좋아하는 게시물">
      <md-content class="md-padding">
        <content-list query="{likeUser:user.id}"></content-list>
      </md-content>
    </md-tab>
    <md-tab label="참여 강의">
      <md-content class="md-padding">
        <lecture-list lectures="user.lectures" query="query"></lecture-list>
      </md-content>
    </md-tab>
    <!-- to resolve last tab disappeared bug -->
    <md-tab ng-disabled="true">
      <md-tab-label>&nbsp;</md-tab-label>
    </md-tab>
  </md-tabs>
</section>
