attachments {
  display: block;
  .center {
    width: 100%;
    .detail {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 80%;
      word-wrap: break-word;
    }
  }
  .fa {
    position: absolute;
    right: 10px;
    top: 0;
  }
  [ngf-select] {
    height: 80px;
    margin: 0 15px;
    border: 3px dashed #ccc;
    color: #bbb;
    text-align: center;
    line-height: 80px;
    border-radius: 5px;
  }
  [ngf-select].dragover {
    color: black;
    border-color: black;
  }
}
