<h5>첨부파일</h5>
<div ng-repeat="attachment in ctrl.attachments" class="file">
  <i class="fa fa-times" ng-click="ctrl.delete(attachment, ctrl.attachments)" ng-if="!ctrl.readonly"></i>
  <img ng-src="{{ctrl.getIcon(attachment.originalFileName)}}" ng-click="ctrl.download(attachment)">

  <div ng-click="ctrl.download(attachment)" class="detail">{{attachment.originalFileName}}</div>
</div>
<div ng-repeat="tmp in ctrl.tmps" class="file">
  <img ng-src="{{ctrl.getIcon(tmp.name)}}">

  <p class="detail">{{tmp.name}}</p>
  <md-progress-linear md-mode="determinate" ng-value="tmp.progress"></md-progress-linear>
</div>
<div ng-show="!ctrl.readonly" ngf-select ng-model="ctrl.files" ngf-drop ngf-multiple="true"
     ngf-max-size="2MB">이곳에 파일을 드래그하세요. (2MB 이하)
</div>
</div>

