attachments {
  display:block;
  [ngf-select] {
    height: 80px;
    margin: 0 15px;
    border: 3px dashed #ccc;
    color: #bbb;
    text-align: center;
    line-height: 80px;
    border-radius: 5px;
  }
  [ngf-select].dragover {
    color:black;
    border-color:black;
  }
}
