<h5>첨부파일</h5>
{{ctrl.editor}}
<div ng-repeat="attachment in ctrl.attachments" class="file">
  <i class="fa fa-times" ng-click="ctrl.delete(attachment, ctrl.attachments)" ng-if="!ctrl.readonly"></i>
  <img ng-src="{{ctrl.getIcon(attachment.extension)}}" ng-click="ctrl.download(attachment)">
  <div class="detail">
    <small ng-click="ctrl.makePreview(attachment)" ng-if="!ctrl.readonly && ctrl.editorId && previewAble(attachment.extension)">미리보기삽입</small>
    <span ng-click="ctrl.download(attachment)">{{attachment.originalFileName}}</span>
  </div>


</div>
<div ng-repeat="tmp in ctrl.tmps" class="file">
  <img ng-src="/resource/icon/file.svg">

  <p class="detail">
    {{tmp.name}}
  </p>
  <md-progress-linear md-mode="determinate" ng-value="tmp.progress"></md-progress-linear>
</div>
<div ng-show="!ctrl.readonly" ngf-select ng-model="ctrl.files" ngf-drop ngf-multiple="true"
     ngf-max-size="2MB">이곳에 파일을 드래그하세요. (2MB 이하)
</div>
</div>

