<md-dialog aria-label="Nexus" class="addterm" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>학기 등록</h2>
      <span flex></span>
      <md-button aria-label="close" class="md-icon-button" dialog="close">
        <md-icon md-svg-src="/resource/icon/ic_close.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="user-login-window">
    <div class="md-dialog-content">
      <md-input-container flex>
        <label>학기명</label>
        <input ng-model="term.name">
      </md-input-container>
      <input-datepicker placeholder="학기 시작" ng-model="term.start" mode="date" flex>
      </input-datepicker>
      <input-datepicker placeholder="학기 끝" ng-model="term.end" mode="date" flex>
      </input-datepicker>
    </div>
    <div class="md-dialog-content">
      <md-button class="md-raised" ng-click="save()">저장하기</md-button>
    </div>
  </md-dialog-content>
</md-dialog>

