<div class="black-sheep"></div>
<div class="center-form">
  <h1>
    NEXUS
    <small>NEXT</small>
  </h1>
  <p>로그인 후 서비스를 이용해주세요.</p>

  <input class="form-control" placeholder="이메일" type="email" ng-model="user.email" ng-regex="regex.email"
         message="이메일 형식이 맞지 않습니다.">
  <input class="form-control" placeholder="암호" type="password" ng-model="user.password"
         ng-regex="regex.password"
         message="패스워드는 6~12자입니다.">

  <div class="btn btn-primary full-width" ng-class="{disabled:!valid()}" ng-click="login(user)">로그인</div>

  <p class="margin-top-s">
    <small>아이디가 없으신가요? <span ui-sref="register" class="link">여기</span>를 눌러 회원가입</small>
  </p>
</div>
