<div class="jumbotron bg">
  <div class="container">
    <h1>
      <mod-input ng-model="user.name" mod-right="isRootUser()"></mod-input>
    </h1>
    <div class="profile-img">
      <img ng-show="!isRootUser()" ng-src="{{user.photo || '/resource/profile.png'}}">
      <upload-img ng-show="isRootUser()" data="user" attr="profileUrl"></upload-img>
    </div>

  </div>
</div>

<div class="container">
  <p class="margin-top">
    <mod-input ng-model="user.email" mod-right="isRootUser()"></mod-input>
  </p>
</div>
