<div class="jumbotron bg">
  <div class="container">
    <h1>
      <mod-input ng-model="user.name" mod-right="isRootUser()" mod-save="update"></mod-input>
    </h1>
    <div class="profile-img">
      <img ng-show="!isRootUser()" ng-src="{{user.profileUrl || '/resource/profile.png'}}">
      <upload-img ng-show="isRootUser()" ng-model="user.profileUrl" default="/resource/profile.png" done="uploadCallback"></upload-img>
    </div>

  </div>
</div>

<div class="container">
  <p class="margin-top">
    <span ng-bind="user.email"></span>
  </p>
</div>
