<section>
  <h2 ng-bind="content.title"></h2>
        <span class="info">
          {{content.types[content.type].name}}
          <span class="bar"></span>
          조회수 {{content.hits}}
          <span class="bar"></span>
          댓글 {{content.replies.length}}
          <span class="bar"></span>
          <like type="CONTENT" like="content.likes" target="content.id"></like>
          <span ng-show="content.writer.id === user.id">
            <span class="bar"></span>
            <span ui-sref="contentEdit({id:content.id})">수정</span>
            <span class="bar"></span>
            <span ng-click="delete(content)">삭제</span>
          </span>
          <span ng-show="content.date">
          <span class="bar"></span>
          <span>{{content.date.toYMD()}}</span>
          </span>
        </span>

  <div class="divider" ng-show="content.type===2">
    <p>제출기한 : {{content.dueDate.toYMD()}}까지 ({{remainDay(content.dueDate)}}일 남음)</p>
  </div>
  </div>
  <div class="col-md-4">
    <user-profile class="content" user="content.writer"></user-profile>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p ng-bind-html="body()"></p>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <span class="underlined">
          <span ng-switch="content.type">
               <span ng-switch-when="2">제출이력</span>
               <span ng-switch-default>댓글</span>
          </span>
          ({{content.replies.length}})</span>
        <ul class="list-group">
          <li ng-repeat="reply in content.replies" class="list-group-item wrap reply">
            <div reply="reply" replies="content.replies"></div>
          </li>
          <li class="list-group-item- wrap">

            <div layout="row">
              <user-profile user="user" flex="10"></user-profile>
              <md-input-container class="md-block" flex="50">
                <label>댓글</label>
                <textarea ng-model="reply.body" columns="2" md-maxlength="300"></textarea>
              </md-input-container>
              <md-input-container>
                <md-button class="md-raised md-primary" ng-click="writeReply(reply)">댓글달기</md-button>
              </md-input-container>
            </div>

        </ul>
      </div>
    </div>
  </div>
  </div>
</section>
