<md-dialog aria-label="Nexus" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>개선점 제안(+버그제보)</h2>
      <span flex></span>
      <md-button aria-label="close" class="md-icon-button" dialog="close">
        <md-icon md-svg-src="/resource/icon/ic_close.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="user-login-window">
    <div class="md-dialog-content">
      <div class="margin-bottom">화면 : {{$state.name}}</div>
      <md-input-container class="md-block">
        <label>내용</label>
        <textarea ng-model="body"></textarea>
      </md-input-container>
      <md-input-container style="padding-bottom:0;">
        <md-button aria-label="login" class="md-raised" ng-click="send()">보내기</md-button>
      </md-input-container>
    </div>
  </md-dialog-content>
</md-dialog>
