<div class="lecture-header">
  <div class="container">
    <div class="title">
      <span ng-bind="lecture.name"></span>
    </div>
    <div class="info">
      {{types.majorTypes[lecture.majorType]}}
      <span class="bar"></span>
      <like type="LECTURE" like="lecture.likes" target="lecture.id"></like>
      <span class="bar"></span>
      게시물 {{lecture.contents.length}}
      <span class="bar"></span>
      수강생 {{lecture.enrolledStudent.length}}
      <span ng-hide="isEnrolled(lecture.id)" ng-click="enroll(lecture.id)">
      <span class="bar"></span>수강하기</span></span>

      <span ng-show="user.id === lecture.hostUser.id">
        <span class="bar"></span>
        <span ui-sref="lectureEdit({id:lecture.id})">강의수정</span>
        <span class="bar"></span>
        <span ng-click="remove(lecture.id)">폐강</span>
      </span>
    </div>

    <!--[TODO] Description 로직-->
    <p>{{lecture.description}}</p>
  </div>
</div>
</div>

<div class="lecture-menu">
  <div class="container">
    <ul ng-init="tab=0">
      <li ng-class="{active:tab===0}" ng-click="tab=0">게시물</li>
      <li ng-class="{active:tab===1}" ng-click="tab=1">수업</li>
      <li ng-class="{active:tab===2}" ng-click="tab=2">교수</li>
      <li ng-class="{active:tab===3}" ng-click="tab=3">수강생</li>
    </ul>
  </div>
</div>

<div ng-switch="tab">
  <div ng-switch-when="0" class="container">
    <ng-include src="'/lecture/page/parts/contents.html'"></ng-include>
  </div>
  <div ng-switch-when="1" class="container">
    <ng-include src="'/lecture/page/parts/lessons.html'"></ng-include>
  </div>
  <div ng-switch-when="2" class="container">
    <ng-include src="'/lecture/page/parts/prof.html'"></ng-include>
  </div>
  <div ng-switch-when="3" class="container">
    <ng-include src="'/lecture/page/parts/students.html'"></ng-include>
  </div>
</div>
