<div class="sub-header">
  <div class="container">
    {{lecture.name}}
  </div>
</div>


<div class="jumbotron">
  <div class="container">

    <h1>{{lecture.name}}</h1>
    <!--[TODO] Description 로직-->
    <p>{{lecture.description}}</p>

    <div ng-hide="isEnrolled(lecture.id)" class="btn btn-primary pull-right" ng-click="enroll(lecture.id)">강의 수강</div>
    <div ng-show="user.id === lecture.hostUser.id"><span ui-sref="lectureEdit({id:lecture.id})">수정</span>
      <span ng-click="remove(lecture.id)">삭제</span></div>
  </div>
</div>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <user-profile user="lecture.hostUser"></user-profile>
      <user-profile user="user" ng-repeat="user in lecture.managers"></user-profile>
    </div>
    <div class="col-md-3">
      <lesson lesson="lesson" ng-repeat="lesson in lecture.lessons"></lesson>
    </div>
    <div class="col-md-6">
      <div calendar="lecture.lessons" current="current"></div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-9">
      <content-list contents="lecture.contents"></content-list>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="btn btn-primary" ui-sref="contentNew({lectureId:lecture.id})">새 글</div>
      <div class="btn btn-primary" ui-sref="contentNew({type:'homework',lectureId:lecture.id})">새 과제</div>
    </div>
  </div>
</div>

