<div class="padding">
  <div layout="row">
    <coming-schedule class="card" flex></coming-schedule>
  </div>

  <div layout="column" layout-gt-lg="row">
    <notice class="card" flex></notice>
    <submit-requires class="card" flex></submit-requires>
  </div>
  <div class="card">
    <div class="card-header">시간표</div>
    <md-datepicker ng-model="date.start" md-max-date="date.end"></md-datepicker>
    <md-datepicker ng-model="date.end" md-min-date="date.start"></md-datepicker>
    <lecture-summary start="date.start" end="date.end"></lecture-summary>
  </div>
</div>
