md-icon {
  outline: none;
}

md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
  color: rgb(255, 255, 255);
  color: rgba(57, 73, 171, 1);
  font-weight: 900;
}

md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: rgb(255, 205, 210);
  color: #777;
}

.md-toolbar-tools.centered {
  max-width: 800px;
  margin: auto;
}

.arrow-icon {
  margin-left: auto;
  speak: none;
  vertical-align: middle;
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.arrow-icon.open {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.md-datepicker-calendar, .md-datepicker-input-mask-opaque {
  background: rgb(255, 255, 255);
}

.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
  background: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  border-color: transparent;
}

.md-calendar-date-selection-indicator:hover {
  background: rgb(224, 224, 224);
}

.md-calendar-day-header {
  background: rgb(224, 224, 224);
  color: rgba(0, 0, 0, 0.87);
}

.md-calendar-date-disabled, .md-calendar-month-label-disabled {
  color: rgba(0, 0, 0, 0.26);
}

.md-calendar-date-today {
  border: 1px solid rgb(16,108,200);
}
