<div class="card-header">제출해야 할 것 ({{doneCount(submitRequires)}}/{{submitRequires.length}})</div>
<div ng-show="submitRequires.length!==0">
  <md-progress-linear md-mode="determinate"
                      value="{{doneCount(submitRequires)/submitRequires.length*100}}"></md-progress-linear>
</div>

<div wrapped ng-repeat="submitRequire in submitRequires" layout="row" layout-sm="column">
  <md-checkbox class="md-secondary" ng-model="submitRequire.done" ng-click="submitRequire.doToggle()"
               aria-label="완료 여부"></md-checkbox>
  <content-header content="submitRequire.content" index="$index"></content-header>
  <md-divider></md-divider>
</div>
<div wrapped class="content-header" ng-click="getMore()" ng-if="more">
  더보기
</div>
<div wrapped class="content-header" ng-if="contents.length===0">
  공지사항이 없습니다.
</div>
