<div class="card-header">제출해야 할 것 ({{doneCount(submitRequires)}}/{{submitRequires.length}})</div>
<div ng-show="submitRequires.length!==0">
  <md-progress-linear md-mode="determinate"
                      value="{{doneCount(submitRequires)/submitRequires.length*100}}"></md-progress-linear>
</div>
<div class="content-header" ng-repeat="submitRequire in submitRequires" layout="row" layout-sm="column">
  <md-checkbox class="md-secondary" ng-model="submitRequire.done" ng-click="submitRequire.doToggle()"
               aria-label="완료 여부"></md-checkbox>
  <span class="title" ui-sref="content({id:content.id})" flex>{{submitRequire.content.title}}</span>
  <span class="writer" ui-sref="profile({id:content.writer.id})">{{submitRequire.content.writer.name}}</span>

  <span class="date">마감 : {{submitRequire.content.endTime.toYMD()}}({{submitRequire.content.endTime.fromNow()}})</span>
</div>
<div class="content-header" ng-click="getMore()" ng-if="more">
  더보기
</div>
<div class="content-header" ng-if="contents.length===0">
  공지사항이 없습니다.
</div>
