<section>
  <div layout="row">
    <div flex>
      <h2>
        <span ng-bind="lecture.name"></span>
        <small style="font-size:70%;" ng-show="lecture.hostUser.isRootUser()">
          <i class="fa fa-pencil" ui-sref="lectureEdit({id:lecture.id})"></i>
        </small>
      </h2>
    </div>
    <div flex layout="row" layout-align="end center"
         ng-hide="lecture.hostUser.isRootUser() || lecture.isEnrolled()">
      <md-button class="md-raised" ng-show="!lecture.isWaiting()"
                 ng-click="lecture.enroll(lecture.id)">
        참여신청
      </md-button>
      <md-button class="md-raised" ng-show="lecture.isWaiting()">
        가입 승인 대기중
      </md-button>
    </div>
    <div flex layout="row" layout-align="end center" ng-show="lecture.hostUser.isRootUser() || lecture.isEnrolled()">
      <md-button class="md-raised" ui-sref="contentNew({lectureId:lecture.id})">새 게시물</md-button>
    </div>
  </div>
  <div layout="row">
    <div class="info margin-bottom">
      <span ng-show="lecture.majorType!==undefined">
        {{types.majorTypes[lecture.majorType]}}
        <span class="bar"></span>
      </span>
      게시물 {{lecture.contents.length}}
      <span class="bar"></span>
      참여자 {{lecture.users.length}}
    </div>
  </div>

  <md-tabs md-selected="tabIndex" md-dynamic-height md-border-bottom>
    <md-tab label=" 목록 " md-on-select="state('list')">
      <md-content class="md-padding">
        <ng-include src="'/lecture.page.detail/part/contents.html'"></ng-include>
      </md-content>
    </md-tab>
    <md-tab label=" 일정 " md-on-select="state('timetable')">
      <md-content class="md-padding">
        <ng-include src="'/lecture.page.detail/part/timetable.html'"></ng-include>
      </md-content>
    </md-tab>
    <md-tab label=" 참여자 " md-on-select="state('users')">
      <md-content class="md-padding">
        <ng-include src="'/lecture.page.detail/part/users.html'"></ng-include>
      </md-content>
    </md-tab>
    <md-tab label=" 참여 신청      " ng-if="lecture.hostUser.isRootUser()" md-on-select="state('requestUsers')">
      <md-content class="md-padding">
        <ng-include src="'/lecture.page.detail/part/waitingUsers.html'"></ng-include>
      </md-content>
    </md-tab>
  </md-tabs>
</section>
