<section>
  <h2 ng-bind="lecture.name"></h2>

  <div class="info margin-bottom">
      <span ng-show="lecture.majorType!==undefined">
        {{types.majorTypes[lecture.majorType]}}
        <span class="bar"></span>
      </span>
    <like type="LECTURE" like="lecture.likes" target="lecture.id"></like>
    <span class="bar"></span>
    게시물 {{lecture.contents.length}}
    <span class="bar"></span>
    참여자 {{lecture.users.length}}

    <div class="pull-right">
      <span ng-hide="lecture.hostUser.isRootUser()||lecture.isEnrolled(lecture.id)" ng-click="lecture.enroll(lecture.id)">
      참여신청</span></span>

      <span ng-show="lecture.hostUser.isRootUser()">
        <span ui-sref="lectureEdit({id:lecture.id})">강의수정</span>
        <span class="bar"></span>
        <span ng-click="lecture.remove()">강의닫기</span>
      </span>
    </div>
  </div>

  <md-tabs md-selected="tabIndex" md-dynamic-height md-border-bottom>
    <md-tab label=" 목록 " md-on-select="state('list')">
      <md-content class="md-padding">
        <ng-include src="'/lecture.page.detail/part/contents.html'"></ng-include>
      </md-content>
    </md-tab>
    <md-tab label=" 스케줄 " md-on-select="state('timetable')">
      <md-content class="md-padding">
        <ng-include src="'/lecture.page.detail/part/timetable.html'"></ng-include>
      </md-content>
    </md-tab>
    <md-tab label=" 참여자 " md-on-select="state('users')">
      <md-content class="md-padding">
        <ng-include src="'/lecture.page.detail/part/users.html'"></ng-include>
      </md-content>
    </md-tab>
    <md-tab label=" 참여신청 " ng-if="lecture.hostUser.isRootUser()" md-on-select="state('requestUsers')">
      <md-content class="md-padding">
        <ng-include src="'/lecture.page.detail/part/waitingUsers.html'"></ng-include>
      </md-content>
    </md-tab>
  </md-tabs>
</section>
