<div class="jumbotron bg">
  <div class="container">
    <div class="pull-right margin-top">
      <div class="btn btn-primary " ng-click="create(lecture)">등록하기</div>
      <div class="btn btn-warning" ng-click="cancel()">취소</div>
    </div>
    <h2>강의 등록</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary margin-top">
        <div class="panel-heading">강의 정보</div>
        <div class="panel-body">
          <div class="input-group">
            <div class="input-group-addon" data-toggle="dropdown">
              {{majorTypes[lecture.majorType]||"구분"}}
              <span class="caret"></span></div>
            <ul class="dropdown-menu">
              <li ng-click="lecture.majorType=undefined"><a>구분</a></li>
              <li class="divider"></li>
              <li ng-repeat="(key,type) in majorTypes" ng-click="lecture.majorType=key"><a>{{type}}</a></li>
            </ul>


            <input type="text" class="form-control" id="Lname" ng-model="lecture.name" placeholder="강의명">
          </div>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">교수진</div>
        <div class="panel-body">
          <div>
            <user-profile user="user"></user-profile>
          </div>

          <div ng-repeat="manager in managers">
            <user-profile user="manager"></user-profile>
            <i class="fa fa-times" ng-click="managers.remove(manager)"></i>
          </div>
        </div>
        <div class="panel-footer">
          <auto-complete placeholder="교수 등록" src="/api/v1/user/find" action="push"
                         template="/common/auto-complete/template/user.html"></auto-complete>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="panel panel-primary margin-top">
        <div class="panel-heading">
          수업
        </div>
        <div class="panel-body">
          <div ng-repeat="lesson in lecture.lessons |orderBy:'start'">
            <span lesson="lesson" index="$index" style="display:inline-block"></span>
            <i ng-click="lecture.lessons.remove(lesson)" class="fa fa-times margin-left"></i>
          </div>
          <div ng-show="lecture.lessons.length==0">등록된 수업이 없습니다.</div>

          <div ng-init="addType='many'">
            <div class="radio">
              <label> <input type="radio" ng-model="addType" ng-value="'many'">일괄 등록</label>
            </div>
            <div class="radio">
              <label> <input type="radio" ng-model="addType" ng-value="'one'">개별 등록</label>
            </div>
          </div>

          <div ng-show="addType==='many'">
            <div class="margin-top">
              <strong>기간</strong>

              <div class="wrapper">
                <input readonly="true" type="datetime" placeholder="시작" date-time format="yyyy월 MM월 dd일" view="date"
                       min-view="date"
                       ng-model="lesson.start" class="form-control date">
              </div>
              ~
              <div class="wrapper">
                <input readonly="true" type="datetime" placeholder="끝" date-time format="yyyy월 MM월 dd일" view="date"
                       min-view="date"
                       ng-model="lesson.end" class="form-control date">
              </div>

            </div>

            <div class="margin-top">
              <strong class="margin-right-s">매주</strong>

              <span class="margin-right-s">
                <input type="checkbox" ng-model="week[0]">일
              </span>
              <span class="margin-right-s">
                <input type="checkbox" ng-model="week[1]">월
              </span>
              <span class="margin-right-s">
                <input type="checkbox" ng-model="week[2]">화
              </span>
              <span class="margin-right-s">
                <input type="checkbox" ng-model="week[3]">수
              </span>
              <span class="margin-right-s">
                <input type="checkbox" ng-model="week[4]">목
              </span>
              <span class="margin-right-s">
                <input type="checkbox" ng-model="week[5]">금
              </span>
              <span class="margin-right-s">
                <input type="checkbox" ng-model="week[6]">토
              </span>
            </div>

            <div class="margin-top">
              <strong>시간</strong>

              <div class="wrapper">
                <input readonly="true" type="datetime" placeholder="시작" date-time format="hh:mm" max-view="hours"
                       view="hours" class="form-control date"
                       ng-model="lesson.timeStart"></div>
              ~
              <div class="wrapper">
                <input readonly="true" type="datetime" placeholder="끝" date-time format="hh:mm" max-view="hours"
                       view="hours" class="form-control date"
                       ng-model="lesson.timeEnd">
              </div>
            </div>
          </div>

          <div ng-show="addType==='one'">
            <strong>시간</strong>

            <div class="wrapper">
              <input readonly="true" type="datetime" placeholder="시작" date-time format="yyyy. MM. dd. hh:mm" view="date"
                     ng-model="lesson.start" class="form-control date">
            </div>
            ~
            <div class="wrapper">
              <input readonly="true" type="datetime" placeholder="끝" date-time format="yyyy. MM. dd. hh:mm" view="date"
                     ng-model="lesson.end" class="form-control date">
            </div>
          </div>

          <div class="margin-top">
            <input placeholder="주제" class="form-control" ng-model="lesson.name">
            <textarea placeholder="내용" class="form-control" ng-model="lesson.description"></textarea>
          </div>
        </div>
        <div class="panel-footer">

          <div class="btn btn-primary full-width" ng-click="addLesson()">수업 등록</div>
        </div>
      </div>
    </div>

  </div>
</div>
