<div layout="column" layout-sm="column">
  <span class="title" ui-sref="content({id:content.id})" flex>
    {{content.title}}
    <span class="margin-left">
      <small ng-if="content.contentGroup.contentType==='SUBMIT'">
        <i class="fa fa-check"></i> 마감 : {{content.endTime.fromNow()}}
      </small>
      <small ng-if="content.contentGroup.contentType==='SCHEDULE'"><i class="fa fa-clock-o"></i>
        {{content.startTime.range(content.endTime)}} ({{content.startTime.fromNow()}})
        <span ng-show="content.startTime < now && now < content.endTime" class="red">현재 진행중</span>
      </small>
    </span>
  </span>

  <span class="detail">
    <span ui-sref="lecture({id:content.lectureId})">{{content.lectureName}}</span>
    <span>></span>
    <span ui-sref="lecture.list({id:content.lectureId, contentGroupName:content.contentGroup.name})">{{content.contentGroup.name}}</span>
    <span class="margin-left-s">by <user-name user="content.writer"></user-name></span>

    <span class="margin-left-s">{{content.writeDate.toYMD()}}</span>
  </span>
</div>

