<div layout="column" layout-sm="column">
  <span class="title" ui-sref="content({id:content.id})" flex>
    {{content.title}}
    <span class="margin-left">
      <small ng-if="content.contentGroup.contentType==='SUBMIT'">
        <i class="fa fa-check"></i> 마감 : {{content.endTime.fromNow()}}
      </small>
      <small ng-if="content.contentGroup.contentType==='SCHEDULE'"><i class="fa fa-clock-o"></i>
        {{content.startTime.range(content.endTime)}} ({{content.startTime.fromNow()}}) <span ng-show="content.startTime < now" class="red">현재 진행중</span>
      </small>
    </span>
  </span>

  <span class="detail">
    <span ui-sref="lecture({id:content.lectureId})">{{content.lectureName}} > {{content.contentGroup.name}}</span>
    <span ui-sref="profile({email:content.writer.email})">by {{content.writer.name}}</span>

    <span>{{content.writeDate.toYMD()}}<div ng-show="content.startTime < now" class="red">진행중</div></span>
  </span>
</div>

