<span ng-show="!mod">
   <span ng-bind-html="ngModel.newLine() || placeholder"></span> <small><i ng-show="modRight" ng-click="mod=true"
                                                                           class="fa fa-pencil"></i></small>
</span>
<span ng-show="mod && modRight">
    <div layout="row">
      <md-input-container flex>
        <label>{{placeholder}}</label>
        <textarea ng-model="ngModel" md-maxlength="150"></textarea>
      </md-input-container>
      <md-button class="md-icon-button" aria-label="done button">
        <md-icon md-svg-icon="/resource/icon/done.svg" ng-click="save()">
        </md-icon>
      </md-button>
    </div>
</span>

