<section>

  <div layout="row">
    <md-input-container flex="20">
      <label>구분</label>
      <md-select ng-model="content.type">
        <md-option ng-repeat="(key,type) in types" value="{{key}}">
          {{type.name}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container flex="80">
      <label>제목</label>
      <input ng-model="content.title">
    </md-input-container>
  </div>

  <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
  <input-datepicker></input-datepicker>
  <div class="input-group" ng-show="types[content.type].dueDate">
    <div class="input-group-addon">기한</div>
    <input class="form-control"
           placeholder="기한" type="datetime" date-time
           ng-model="content.dueDate" max-view="date">
  </div>
</section>

<section>

  <div froala ng-model="content.body"></div>
  <!--<div froala-toolbar ng-model="content.body"></div>-->
  <div class="btn btn-primary margin-vertical full-width" ng-click="edit(content)">작성완료</div>
</section>
