<section>

  <div layout="row">
    <md-input-container flex="20">
      <label>구분</label>
      <md-select ng-model="content.type">
        <md-option ng-repeat="(key,type) in types" value="{{key}}">
          {{type.name}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container flex="80">
      <label>제목</label>
      <input ng-model="content.title">
    </md-input-container>
  </div>
  <div layout="row" ng-show="types[content.type].dueDate">
    <input-datepicker placeholder="기한"></input-datepicker>
  </div>
</section>

<section>

  <div froala ng-model="content.body"></div>
  <md-input-container>
    <md-button ng-click="edit(content)" class="md-raised md-primary">작성완료</md-button>
  </md-input-container>
</section>
