<section>
  <div layout="row">
    <md-input-container flex>
      <label>구분</label>
      <input ng-model="content.type.name" disabled>
    </md-input-container>

    <md-input-container flex="80">
      <label>제목</label>
      <input ng-model="content.title">
    </md-input-container>
  </div>
  <div layout="row"  class="margin-top">
    <div ng-show="content.type.startTime" flex>
      <input-datepicker placeholder="시작" ng-model="content.startTime"></input-datepicker>
    </div>
    <div ng-show="content.type.endTime" flex>
      <input-datepicker placeholder="{{placeholder}}" ng-model="content.endTime"></input-datepicker>
    </div>
  </div>
</section>

<section>
  <div froala ng-model="content.body"></div>
  <md-input-container>
    <md-button aria-label="done button" ng-click="edit(content)" class="md-raised md-primary">작성완료</md-button>
  </md-input-container>
</section>
