<div layout="row" class="margin-top">
  <md-datepicker ng-model="range.startDate" md-max-date="range.endDate" md-placeholder="시작 날짜"></md-datepicker>
  <md-datepicker ng-model="range.endDate" md-min-date="range.startDate" md-placeholder="끝 날짜"></md-datepicker>
</div>
<div layout="row" class="margin-top margin-left">
  <md-input-container>
    <label>시작 시간</label>
    <input ng-model="range.startTime" type="time">
  </md-input-container>
  <md-input-container class="margin-left">
    <label>끝 시간</label>
    <input ng-model="range.endTime" type="time">
  </md-input-container>
</div>
<div layout="row" class="margin-top">
  <md-checkbox ng-model="range.week[0]">
    일
  </md-checkbox>
  <md-checkbox ng-model="range.week[1]">
    월
  </md-checkbox>
  <md-checkbox ng-model="range.week[2]">
    화
  </md-checkbox>
  <md-checkbox ng-model="range.week[3]">
    수
  </md-checkbox>
  <md-checkbox ng-model="range.week[4]">
    목
  </md-checkbox>
  <md-checkbox ng-model="range.week[5]">
    금
  </md-checkbox>
  <md-checkbox ng-model="range.week[6]">
    토
  </md-checkbox>
</div>

<div class="row">
  <md-list>
    <md-list-item ng-repeat="time in times">
      <div class="sub-setting md-list-item-text">{{$index+1}}. {{time.startTime.range(time.endTime)}}</div>
    </md-list-item>
  </md-list>
</div>
