<div layout="row" class="margin-top">
  <div ng-show="contentTypes[content.type].startTime" flex>
    <input-datepicker placeholder="시작 날짜" ng-model="range.startDate" mode="date"></input-datepicker>
  </div>
  <div ng-show="contentTypes[content.type].endTime" flex>
    <input-datepicker placeholder="끝 날짜" ng-model="range.endDate" mode="date"></input-datepicker>
  </div>
  <div ng-show="contentTypes[content.type].startTime" flex>
    <input-datepicker placeholder="시작 시간" ng-model="range.startTime" mode="time"></input-datepicker>
  </div>
  <div ng-show="contentTypes[content.type].endTime" flex>
    <input-datepicker placeholder="끝 시간" ng-model="range.endTime" mode="time"></input-datepicker>
  </div>
</div>
<div layout="row" class="margin-top">
  <md-checkbox ng-model="range.week[0]">
    일
  </md-checkbox>
  <md-checkbox ng-model="range.week[1]">
    월
  </md-checkbox>
  <md-checkbox ng-model="range.week[2]">
    화
  </md-checkbox>
  <md-checkbox ng-model="range.week[3]">
    수
  </md-checkbox>
  <md-checkbox ng-model="range.week[4]">
    목
  </md-checkbox>
  <md-checkbox ng-model="range.week[5]">
    금
  </md-checkbox>
  <md-checkbox ng-model="range.week[6]">
    토
  </md-checkbox>
</div>

<div class="row">
  <md-list>
    <md-list-item ng-repeat="time in times">
      <div class="sub-setting md-list-item-text">{{$index+1}}. {{time.startTime.range(time.endTime)}}</div>
    </md-list-item>
  </md-list>
</div>
