<div ng-if="content.contentGroup.contentType==='SCHEDULE'">
  <div class="margin-bottom" layout="row" ng-if="!content.id">
    <md-switch ng-model="content.extendWrite">
      일괄입력
    </md-switch>
  </div>
  <div layout="row" ng-hide="!content.id && content.extendWrite" class="margin-top">
    <input-datepicker md-max-date="content.endTime" placeholder="시작"
                      ng-model="content.startTime"></input-datepicker>
    <input-datepicker md-min-date="content.startTime" placeholder="끝" ng-model="content.endTime"
                      flex></input-datepicker>
  </div>
  <div ng-if="!content.id" ng-show="content.extendWrite" ng-include="'/content.page.edit/extend.html'"></div>
</div>

<div ng-if="content.contentGroup.contentType==='SUBMIT'" flex>
  <input-datepicker placeholder="마감" ng-model="content.endTime"></input-datepicker>

  <table md-data-table>
    <thead>
    <tr>
      <th>이름</th>
      <th>이메일</th>
      <th>그룹</th>
      <th ng-click="toggleAll()">제출대상</th>
    </tr>
    </thead>
    <tbody>
    <tr md-auto-select ng-repeat="user in content.users">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>
            <span ng-show="user.id!==hostUserId">
              {{user.group.name}}
              {{hostUser}}
            </span>
            <span ng-show="user.id===hostUserId">
              개설자
            </span>
      </td>
      <td>
        <md-checkbox ng-model="user.submit" aria-label="제출 여부"></md-checkbox>
      </td>
    </tr>
    </tbody>
  </table>
</div>
