[ngf-select].uploader {
  margin: 0 15px;
  border: 3px dashed #ccc;
  color: #bbb;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
}

[ngf-select].uploader.dragover {
  color: black;
  border-color: black;
}

@media screen and (max-width: 600px) {
  iframe {
    width: 100vw;
    height: 56.25vw; /* 100/56.25 = 560/315 = 1.778 */
  }
}

.write-part {
  padding: 20px;
  padding-top: 0;
  margin-bottom: 10px;
  border-bottom: 1px dotted  #eee;
}
