<section>
  <div layout="row">
    <md-input-container flex="20">
      <label>구분</label>
      <md-select ng-model="contentGroup">
        <md-option ng-repeat="contentGroup in contentGroups" ng-click="content.setContentGroup(contentGroup)">
          {{contentGroup.name}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="80">
      <label>제목</label>
      <input ng-model="content.title">
    </md-input-container>
  </div>


  <div class="write-part" ng-include="'/content.page.edit/optional.html'"
       ng-show="content.contentGroup.contentType==='SCHEDULE' || content.contentGroup.contentType==='SUBMIT'">
  </div>

  <div class="write-part" ng-include="'/content.page.edit/uploader.html'"></div>

  <attachments ng-if="content.attachments.length>0" attachments="content.attachments" readonly="false"
               class="margin-bottom"></attachments>

  <div froala ng-model="content.body"></div>


  <md-input-container>
    <md-button aria-label="done button" ng-click="save(content)" class="md-raised md-primary">작성완료</md-button>
  </md-input-container>
</section>
