<section>
  <div layout="row">
    <md-input-container flex="20">
      <label>구분</label>
      <md-select ng-model="contentGroup">
        <md-option ng-repeat="contentGroup in contentGroups" ng-click="content.setContentGroup(contentGroup)">
          {{contentGroup.name}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="80">
      <label>제목</label>
      <input ng-model="content.title">
    </md-input-container>
  </div>


  <div ng-if="content.contentGroup.contentType==='SCHEDULE'">
    <div layout="row" ng-hide="content.extendWrite" class="margin-top">
      <input-datepicker md-max-date="content.endTime" placeholder="시작" ng-model="content.startTime"></input-datepicker>
      <input-datepicker md-min-date="content.startTime" placeholder="끝" ng-model="content.endTime"
                        flex></input-datepicker>
    </div>
    <div class="margin-top margin-bottom" layout="row">
      <md-checkbox ng-model="content.extendWrite">
        일괄입력
      </md-checkbox>
    </div>
    <div ng-show="content.extendWrite" ng-include="'/content.page.edit/extend.html'"></div>
  </div>

  <div ng-if="content.contentGroup.contentType==='SUBMIT'" flex>
    <input-datepicker placeholder="마감" ng-model="content.endTime" flex></input-datepicker>
    <md-checkbox ng-model="content.submitCanAttach">
      <small>제출시 파일 첨부</small>
    </md-checkbox>

    <md-data-table-container>
      <table md-data-table>
        <thead md-order="query.order" md-trigger="onOrderChange">
        <tr>
          <th name="이름"></th>
          <th name="이메일"></th>
          <th name="그룹"></th>
          <th name="제출대상" ng-click="toggleAll()"></th>
        </tr>
        </thead>
        <tbody>
        <tr md-auto-select ng-repeat="user in content.users">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>
            <span ng-show="user.id!==hostUserId">
              {{user.group.name}}
              {{hostUser}}
            </span>
            <span ng-show="user.id===hostUserId">
              개설자
            </span>
          </td>
          <td>
            <md-checkbox ng-model="user.submit" aria-label="제출 여부"></md-checkbox>
          </td>
        </tr>
        </tbody>
      </table>
    </md-data-table-container>
  </div>

  <div froala id="editor" ng-model="content.body"></div>

  <attachments editor-id="editor" ng-show="content.contentGroup.attachment" attachments="content.attachments"
               readonly="false"
               class="margin-bottom"></attachments>

  <md-input-container>
    <md-button aria-label="done button" ng-click="save(content)" class="md-raised md-primary">작성완료</md-button>
  </md-input-container>
</section>
