<section>
  <div layout="row">
    <md-input-container flex="20">
      <label>구분</label>
      <md-select ng-model="contentGroup">
        <md-option ng-repeat="contentGroup in contentGroups" ng-click="content.setContentGroup(contentGroup)">
          {{contentGroup.name}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="80">
      <label>제목</label>
      <input ng-model="content.title">
    </md-input-container>
  </div>


  <div class="write-part" ng-show="content.contentGroup.contentType==='SCHEDULE' || content.contentGroup.contentType==='SUBMIT'">
    <div ng-if="content.contentGroup.contentType==='SCHEDULE'">
      <div class="margin-bottom" layout="row">
        <md-switch ng-model="content.extendWrite">
          일괄입력
        </md-switch>
      </div>
      <div layout="row" ng-hide="content.extendWrite" class="margin-top">
        <input-datepicker md-max-date="content.endTime" placeholder="시작"
                          ng-model="content.startTime"></input-datepicker>
        <input-datepicker md-min-date="content.startTime" placeholder="끝" ng-model="content.endTime"
                          flex></input-datepicker>
      </div>
      <div ng-show="content.extendWrite" ng-include="'/content.page.edit/extend.html'"></div>
    </div>

    <div ng-if="content.contentGroup.contentType==='SUBMIT'" flex>
      <input-datepicker placeholder="마감" ng-model="content.endTime"></input-datepicker>

      <md-data-table-container>
        <table md-data-table>
          <thead md-order="query.order" md-trigger="onOrderChange">
          <tr>
            <th name="이름"></th>
            <th name="이메일"></th>
            <th name="그룹"></th>
            <th name="제출대상" ng-click="toggleAll()"></th>
          </tr>
          </thead>
          <tbody>
          <tr md-auto-select ng-repeat="user in content.users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>
            <span ng-show="user.id!==hostUserId">
              {{user.group.name}}
              {{hostUser}}
            </span>
            <span ng-show="user.id===hostUserId">
              개설자
            </span>
            </td>
            <td>
              <md-checkbox ng-model="user.submit" aria-label="제출 여부"></md-checkbox>
            </td>
          </tr>
          </tbody>
        </table>
      </md-data-table-container>
    </div>
  </div>

  <div class="write-part" ng-controller="uploadController">
    <md-button ng-class="{unselect:state.name && state.name != 'img'}" class="md-fab md-mini" aria-label="image insert"
               ng-click="setState('img');">
      <md-icon md-svg-src="/resource/icon/img.svg"></md-icon>
    </md-button>
    <md-button ng-class="{unselect:state.name && state.name != 'mov'}" class="md-fab md-mini" aria-label="movie attach"
               ng-click="setState('mov');">
      <md-icon md-svg-src="/resource/icon/mov.svg"></md-icon>
    </md-button>
    <md-button ng-class="{unselect:state.name && state.name != 'file'}" class="md-fab md-mini" aria-label="file upload"
               ng-click="setState('file');">
      <md-icon md-svg-src="/resource/icon/attach.svg"></md-icon>
    </md-button>

    <div ng-show="insert">
      <h3>{{state.title}}</h3>
      <md-radio-group ng-model="uploadType" ng-show="state.urlPlaceHolder">
        <md-radio-button value="file" class="md-primary">파일 업로드</md-radio-button>
        <md-radio-button value="url" class="md-primary">URL 직접 입력</md-radio-button>
      </md-radio-group>
      <div layout="row" ng-show="uploadType==='url'">
        <md-input-container flex>
          <label>{{state.urlPlaceHolder}}</label>
          <input type="text" ng-model="url">
        </md-input-container>
        <div>
          <md-button class="md-raised" ng-click="state.insertUrl(url)">{{state.insertBtn}}</md-button>
        </div>
      </div>
      <md-progress-linear md-mode="determinate" ng-value="progress" ng-show="uploading"></md-progress-linear>
      <div ng-hide="uploading">
        <div ng-show="state.name==='mov' && uploadType==='file'">
          <div ng-show="!Auth.google.logged()" layout="row" layout-sm="column">
             <span
               class="g-signin"
               data-callback="oauth2Callback"
               data-clientid="895808210727-mnv6ncp0lg4rh1eijdbjoh6815js07q2.apps.googleusercontent.com"
               data-cookiepolicy="single_host_origin"
               data-scope="https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/youtube.upload">
             </span> <span class="info margin-left margin-bottom">유투브 업로드를 하려면 구글 로그인을 해야합니다.</span>
          </div>
          <div ng-show="Auth.google.logged()">
            <md-input-container flex>
              <label>영상 제목</label>
              <input type="text" ng-model="movie.title">
            </md-input-container>
            <md-input-container flex>
              <label>영상 설명</label>
              <textarea type="text" ng-model="movie.description"></textarea>
            </md-input-container>
            <md-radio-group ng-model="movie.status" ng-show="state.urlPlaceHolder">
              <md-radio-button value="public" class="md-primary">공개</md-radio-button>
              <md-radio-button value="unlisted" class="md-primary">
                미등록
              </md-radio-button>
            </md-radio-group>
            <div class="uploader" ng-disabled="uploading" ngf-accept="'video/*'"
                 ngf-select ng-model="movie.file" ngf-drop>{{ movie.file.name ||'첨부할 영상을 끌어놓으세요.'}}
            </div>
            <md-input-container class="margin-top">
              <md-button class="md-raised" ng-click="uploadMovie()">영상 올리기</md-button>
            </md-input-container>
          </div>
        </div>
        <div class="uploader" ngf-accept="'image/*'" ng-show="state.name==='img'&&uploadType==='file'"
             ng-disabled="uploading"
             ngf-select ng-model="file" ngf-drop>{{ file.name ||'첨부할 이미지를 끌어놓으세요. (최대 2MB, jpg, jpeg, gif, png)'}}
        </div>
        <div class="uploader" style="margin-top:20px" ng-show="state.name==='file'" ng-disabled="uploading" ngf-select
             ng-model="file" ngf-drop
             ngf-multiple="true">첨부할 파일(들)을 끌어놓으세요. (최대 2MB)
        </div>
      </div>
    </div>

  </div>

  <attachments ng-if="content.attachments.length>0" attachments="content.attachments" readonly="false"
               class="margin-bottom"></attachments>

  <div froala ng-model="content.body"></div>


  <md-input-container>
    <md-button aria-label="done button" ng-click="save(content)" class="md-raised md-primary">작성완료</md-button>
  </md-input-container>
</section>

<script src="https://apis.google.com/js/client:plusone.js"></script>
