<h1 ng-bind="article.title"></h1>
<p ng-bind="article.body"></p>
<p ng-bind="article.date.toYMD()"></p>
<p ng-bind="article.writer"></p>


<ul class="list-group">
  <li ng-repeat="reply in replies" class="list-group-item wrap">
    <div reply="reply"></div>
  </li>
  <li class="list-group-item wrap">
    <div class="col-sm-3">
      <user-profile user="user"></user-profile>
    </div>
    <div class="col-sm-9 ">
      <div class="input-group">
        <textarea ng-model="reply.body" class="form-control"></textarea>

        <div class="input-group-addon" ng-click="writeReply(reply)">댓글달기</div>
      </div>
    </div>
  </li>
</ul>
