<section>
  <div layout="row">
    <div flex="80">
      <h2 ng-bind="content.title"></h2>
        <span class="info">
          {{content.contentGroup.name}}
          <span class="bar"></span>
          조회수 {{content.hits}}
          <span class="bar"></span>
          댓글 {{content.repliesSize}}
          <span class="bar"></span>
          <like type="CONTENT" like="content.likes" target="content.id"></like>
          <span ng-show="content.writer.id === rootUser.id">
            <span class="bar"></span>
            <span ui-sref="contentEdit({id:content.id})">수정</span>
            <span class="bar"></span>
            <span ng-click="content.remove()">삭제</span>
          </span>
        </span>
    </div>
    <div flex="20">
      <user-profile class="content" user="content.writer"></user-profile>
    </div>
  </div>
  <div layout="row">
    <span class="info margin-top-s dueDate" ng-if="!content.contentGroup.contentType==='SUBMIT'">마감 : {{content.endTime.toYMD()}} ({{content.endTime.fromNow()}})</span>
    <span class="info margin-top-s dueDate" ng-if="content.contentGroup.contentType==='SCHEDULE'">일정 : {{content.startTime.range(content.endTime)}}</span>
  </div>
</section>


<section>
  <p ng-bind-html="content.getBodyAsHtml()"></p>
</section>

<section>
  <div layout="row" layout-align="end center">
    <md-button class="md-fab md-mini md-hue-2" ng-click="relativeReadOnly=!relativeReadOnly" aria-label="editRelative">
      <md-icon md-svg-src="{{getRelativeIcon()}}"></md-icon>
    </md-button>
    <md-button class="md-fab md-mini md-hue-2" ng-click="tagReadOnly=!tagReadOnly" aria-label="editTag">
      <md-icon md-svg-src="{{getTagIcon()}}"></md-icon>
    </md-button>
  </div>
  <div layout="row" ng-show="content.relativeContents.length>0 || !relativeReadOnly">
    <relative-contents relative-contents="content.relativeContents" content="content"
                       readonly="relativeReadOnly"></relative-contents>
  </div>
  <div layout="row">
    <md-tags placeholder="태그" ng-model="content.tags" type="content" md-id="content.id" readonly="tagReadOnly"
             flex></md-tags>
  </div>
</section>

<section ng-if="content.contentGroup.contentType==='SUBMIT' && content.submitRequiredUsers.length>0">
  <submit-status deadline="content.endTime" submit-required-users="content.submitRequiredUsers"></submit-status>
</section>


<section ng-if="content.contentGroup.contentType==='SUBMIT' && content.submitRequiredUsers.length>0">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab ng-repeat="submitdto in content.submitRequiredUsers" label="{{' '+submitdto.user.name+' '}}">
      <md-content class="md-padding">
        <submits attach="content.submitCanAttach" submitdto="submitdto"></submits>
      </md-content>
    </md-tab>
  </md-tabs>
</section>

<section ng-if="content.contentGroup.attachment && content.attachments.length>0">
  <attachments attachments="content.attachments" readonly="true" class="margin-bottom"></attachments>
</section>

<section ng-if="content.contentGroup.reply">
  <replies content="content"></replies>
</section>
