<section>
  <div layout="row">
    <div flex="80">
      <h2 ng-bind="content.title"></h2>
        <span class="info">
          {{content.type.name}}
          <span class="bar"></span>
          조회수 {{content.hits}}
          <span class="bar"></span>
          댓글 {{content.replies.length}}
          <span class="bar"></span>
          <like type="CONTENT" like="content.likes" target="content.id"></like>
          <span  ng-show="content.writer.id === rootUser.id">
            <span class="bar"></span>
            <span ui-sref="contentEdit({id:content.id})">수정</span>
            <span class="dot"></span>
            <span ng-click="content.remove()">삭제</span>
          </span>
        </span>

      <div class="info margin-top-s" ng-show="content.type.startTime || content.type.endTime">
    <span class="dueDate" ng-show="content.type.endTime || content.type.startTime">
      <span ng-if="!content.type.startTime">마감 : {{content.endTime.fromNow()}}</span>
      <span ng-if="content.type.startTime">{{content.startTime.range(content.endTime)}}</span>
    </span>
      </div>
    </div>

    <div flex="20">
      <user-profile class="content" user="content.writer"></user-profile>
    </div>
  </div>
</section>
</section>

<section>
  <p ng-bind-html="content.getBodyAsHtml()"></p>
</section>


<section>
  <div layout="row">
    <span class="underlined">댓글 ({{content.replies.length}})</span>
  </div>
  <div ng-repeat="reply in content.replies" layout="row">
    <div reply="reply" replies="content.replies"></div>
  </div>
  <div class="reply-write" layout="row">
    <div class="photo" flex>
      <img class="profile" ng-src="{{rootUser.profileUrl || '/resource/profile.png'}}">
    </div>
    <div class="info" flex>
      <div class="body">
        <div class="box-area">
          <md-input-container>
            <textarea ng-model="reply.body" aria-label="reply"></textarea>
          </md-input-container>
          <div class="write_append">
            <div class="wrap_btn">
              <md-button class="md-raised" ng-click="writeReply(reply)">작성 완료</md-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
