<section>
  <div layout="row">
    <div flex>
      <div class="info">
        <span ui-sref="lecture({id:content.lectureId})">{{content.lectureName}}</span> > <span ui-sref="lecture.list({id:content.lectureId, contentGroupName:content.contentGroup.name})">{{content.contentGroup.name}}</span>
      </div>
      <div layout="row">
        <h2>
          <span ng-bind="content.title"></span>
          <small ng-show="content.writer.id === rootUser.id">
            <span ui-sref="contentEdit({id:content.id})">수정</span>
            <span ng-click="content.remove()">삭제</span>
          </small>
        </h2>
      </div>
      <div layout="row" class="info">
        {{content.contentGroup.name}}
        <span class="bar"></span>
        조회수 {{content.hits}}
        <span class="bar"></span>
        댓글 {{content.repliesSize}}
        <span class="bar"></span>
        <like type="CONTENT" like="content.likes" target="content.id"></like>
        <span hide-gt-sm>
        <span class="bar"></span>
        by {{content.writer.name}}
        </span>
      </div>


      <div class="margin-top-s">
        <span class="info dueDate" ng-if="content.contentGroup.contentType==='SUBMIT'"> <i class="fa fa-check"></i> 마감 : {{content.endTime.getDateTime()}} ({{content.endTime.fromNow()}})</span>
        <span class="info dueDate" ng-if="content.contentGroup.contentType==='SCHEDULE'"> <i class="fa fa-clock-o"></i> 일정 : {{content.startTime.range(content.endTime)}}</span>
      </div>
    </div>
    <div hide-sm layout="row" layout-align-gt-sm="end center" layout-align="center center">
      <user-profile class="content" user="content.writer"></user-profile>
    </div>
  </div>

</section>


<section>
  <p ng-bind-html="content.getBodyAsHtml()"></p>
</section>

<section>
  <div layout="row" layout-align="end center">
    <md-button class="md-fab md-mini md-hue-2" ng-click="relativeReadOnly=!relativeReadOnly" aria-label="editRelative">
      <md-icon md-svg-src="{{getRelativeIcon()}}"></md-icon>
    </md-button>
    <md-button class="md-fab md-mini md-hue-2" ng-click="tagReadOnly=!tagReadOnly" aria-label="editTag">
      <md-icon md-svg-src="{{getTagIcon()}}"></md-icon>
    </md-button>
  </div>
  <div layout="row" ng-show="content.relativeContents.length>0 || !relativeReadOnly">
    <relative-contents relative-contents="content.relativeContents" content="content"
                       readonly="relativeReadOnly"></relative-contents>
  </div>
  <div layout="row">
    <md-tags placeholder="태그" ng-model="content.tags" type="content" md-id="content.id" readonly="tagReadOnly"
             flex></md-tags>
  </div>
</section>

<section hide-sm ng-if="content.contentGroup.contentType==='SUBMIT' && content.submitRequires.length>0">
  <submit-status deadline="content.endTime" submit-requires="content.submitRequires"></submit-status>
</section>


<section ng-if="content.contentGroup.contentType==='SUBMIT' && content.submitRequires.length>0">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab ng-repeat="submitRequire in content.submitRequires" label="{{submitRequire.user.name}}">
      <md-content class="md-padding">
        <submits submit-require="submitRequire"></submits>
      </md-content>
    </md-tab>
    <!-- to resolve last tab disappeared bug -->
    <md-tab ng-disabled="true">
      <md-tab-label>&nbsp;</md-tab-label>
    </md-tab>
  </md-tabs>
</section>

<section ng-if="content.attachments.length>0">
  <attachments attachments="content.attachments" readonly="true" class="margin-bottom"></attachments>
</section>

<section ng-if="content.contentGroup.reply">
  <replies content="content"></replies>
</section>
