<h1 ng-bind="homework.title"></h1>
<span ng-bind="homework.dueDate.toYMD()"></span>
<p ng-bind="homework.body"></p>


<h3>제출이력</h3>
<table class="table">
  <thead>
  <tr>
    <td>번호</td>
    <td>제출일</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="submit in submits">
    <td>{{$index+1}}</td>
    <td>{{submit.date}}</td>
  </tr>
  </tbody>
</table>

<wysiwyg textarea-class="form-control"
         textarea-height="250px"
         textarea-required ng-model="homework.body" enable-bootstrap-title="true"></wysiwyg>
<div class="btn btn-primary">제출하기</div>
<div class="btn btn-primary" ui-sref="homeworkBoard({id:homework.lectureId})">숙제목록</div>
