<h1 ng-bind="homework.title"></h1>
<span ng-bind="homework.dueDate.toYMD()"></span>
<p ng-bind="homework.body"></p>


<h1>제출</h1>
<table class="table">
  <thead>
  <tr>
    <td>제출자</td>
    <td>제출일</td>
    <td>현재상태</td>
  </tr>
  </thead>
  <tbody ng-repeat="reply in replies">
  <tr ng-class="{danger:isTimeOut(reply)}" ng-click="reply.show = !reply.show">
    <td ng-bind="reply.writer"></td>
    <td ng-bind="reply.date.toYMD()"></td>
    <td>{{states[reply.state]}}</td>
  </tr>
  <tr ng-class="{danger:isTimeOut(reply)}" ng-show="reply.show">
    <td>내용</td>
    <td ng-bind="reply.body" colspan="2"></td>
  </tr>
  </tbody>
</table>

<h1>학생별 상태</h1>
<table class="table">
  <thead>
  <tr>
    <td>수강생</td>
    <td>현재상태</td>
  </tr>
  </thead>
  <tbody ng-repeat="student in students">
  <tr>
    <td ng-bind="student.name"></td>
    <td>{{states[student.state]}}</td>
  </tr>
  </tbody>
</table>

<div class="btn btn-primary" ui-sref="homeworkedit({id:homework.lectureId})">수정하기</div>
<div class="btn btn-primary" ui-sref="homeworkBoard({id:homework.lectureId})">숙제목록</div>
