<md-dialog aria-label="회원가입" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>회원가입</h2>
      <span flex></span>
      <md-button aria-label="close" class="md-icon-button" dialog="close">
        <md-icon md-svg-src="/resource/icon/ic_close.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="user-login-window">
    <div class="md-dialog-content">
      <form name="loginForm">
        <md-input-container class="md-block">
          <label>이름</label>
          <input required type="text" name="name" ng-model="rootUser.name"
                 ng-pattern="/\S{2,10}/"/>

          <div ng-messages="loginForm.name.$error" role="alert">
            <div ng-message-exp="['pattern', required]">
              이름은 2~10자로 입력해주세요.
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>이메일</label>
          <input required type="email" name="email" ng-model="rootUser.email"
                 ng-pattern="/^.+@.+\..+$/"/>

          <div ng-messages="loginForm.email.$error" role="alert">
            <div ng-message-exp="'pattern'">
              이메일 형식이 맞지 않습니다.
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>패스워드</label>
          <input required type="password" name="password" ng-model="rootUser.password"
                 minlength="8" maxlength="20"/>

          <div ng-messages="loginForm.password.$error" role="alert">
            <div ng-message-exp="['required', 'minlength', 'maxlength']">
              패스워드는 8자~20자입니다.
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block margin-top padding-bottom-s">
          <md-button aria-label="register" class="md-raised" ng-click="register(rootUser)">회원가입</md-button>
        </md-input-container>
        <div class="center" layout-sm="column">
          <small>이미 가입하셨나요?</small>
          <small><span dialog="login" class="link">여기</span>를 눌러 로그인</small>
        </div>
      </form>
    </div>
  </md-dialog-content>
</md-dialog>
